/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 0;
  --px-font: 14px;

  --opacity-over: 0;

  --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);

  --color-back: transparent;
  --color-element: transparent;
  --color-border: transparent;
  --color-second: transparent;
  --color-top: transparent;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

hr {
  border: 0.5px solid var(--color-border);
  margin: 10px;
}

body {
  border: 1px solid var(--color-border);
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-back);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.block-title {
  margin: 2px;
  margin-top: 32px;
  border-bottom: 1px solid var(--color-border);
  padding: 4px;
  padding-bottom: 8px;
}

.block-title img, .block-title label {
  vertical-align: middle;
}

.block-title label { 
  padding-left: 8px;
}

.column-left {
  padding: 12px;
  position: absolute;
  left: 0;
  top: 33px;
  width: 37%;
  bottom: 0;
  border-right: 1px solid var(--color-border);
}

.column-right {
  padding: 16px;
  padding-bottom: 48px;
  position: absolute;
  right: 0;
  top: 33px;
  width: 63%;
  bottom: 0;
  overflow-y: auto;
}

body.system-titlebar .column-left {
  top: 0;
  padding: 24px 12px;
}

body.system-titlebar .column-right {
  top: 0;
}

label {
  color: var(--color-top);
}

.nav-btn {
  width: calc(100% - 4px);
}

.nav-label {
  padding: 2px;
  margin: 2px;
  display: inline-block;
}

.nav-label.mini {
  font-size: 12px;
}

/*
.########.####.########.##.......########
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##.....##.....##....##.......######..
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##....####....##....########.########
*/

label.title {
  font-size: 42px;
  display: inline-block;
}

label.subtitle {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;
}

/*
....###....########..########.....####..######...#######..##....##
...##.##...##.....##.##.....##.....##..##....##.##.....##.###...##
..##...##..##.....##.##.....##.....##..##.......##.....##.####..##
.##.....##.########..########......##..##.......##.....##.##.##.##
.#########.##........##............##..##.......##.....##.##..####
.##.....##.##........##............##..##....##.##.....##.##...###
.##.....##.##........##...........####..######...#######..##....##
*/

.about-div {
  position: relative;
  display: inline-block;
}

.about-div button {
  background: none;
  border: 1px solid transparent;
  border-radius: 50% 50% var(--px-radius) 50%;
  padding: 8px;
  margin: 2px;
  outline: none;
}

.about-div button:hover {
  background-color: var(--color-second);
  border-color: var(--color-border);
}

.about-div button:active {
  background-color: var(--color-border);
}

.about-div button:focus {
  box-shadow: var(--shadow-focus);
}

.about-div .beta {
  position: absolute;
  right: 8px;
  bottom: 8px;
  filter: drop-shadow(0 0 4px black);
}

.about-div .icon {
  margin-bottom: -4px;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/
