/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 0;
  --px-font: 14px;

  --opacity-over: 0;

  --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);

  --color-back: transparent;
  --color-element: transparent;
  --color-border: transparent;
  --color-second: transparent;
  --color-top: transparent;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background-color: var(--color-element); */
  padding-bottom: 48px;
}

label {
  color: var(--color-top);
}

/* theme icon */
.theme-icon {
  opacity: 0;
}

/*
.########.####.########.##.......########
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##.....##.....##....##.......######..
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##....####....##....########.########
*/

label.title {
  font-size: 36px;
  display: inline-block;
}

label.subtitle {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 16px;
}

/*
....###....########..########.....####..######...#######..##....##
...##.##...##.....##.##.....##.....##..##....##.##.....##.###...##
..##...##..##.....##.##.....##.....##..##.......##.....##.####..##
.##.....##.########..########......##..##.......##.....##.##.##.##
.#########.##........##............##..##.......##.....##.##..####
.##.....##.##........##............##..##....##.##.....##.##...###
.##.....##.##........##...........####..######...#######..##....##
*/

.about-div {
  position: relative;
  display: inline-block;
}

.about-div button {
  background: none;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 8px;
  margin: 2px;
  outline: none;
}

.about-div button:hover {
  background-color: var(--color-second);
  border-color: var(--color-border);
}

.about-div button:active {
  background-color: var(--color-border);
}

.about-div button:focus {
  box-shadow: var(--shadow-focus);
}

.about-div .beta {
  position: absolute;
  right: 8px;
  bottom: 8px;
  filter: drop-shadow(0 0 4px black);
}

.about-div .icon {
  margin-bottom: -4px;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/
