/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root {
  --color-red: rgb(12, 5, 5);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 0;
  --px-font: 14px;

  --opacity-over: 0;

  --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);

  --color-back: transparent;
  --color-element: transparent;
  --color-border: transparent;
  --color-second: transparent;
  --color-top: transparent;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes anim-menu {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-bottom: 48px;
  /* background-color: var(--color-element); */
}

label {
  color: var(--color-top);
}

/* theme icon */
.theme-icon {
  opacity: 0;
}

/*
.########...#######...#######..##....##.##.....##....###....########..##....##..######.
.##.....##.##.....##.##.....##.##...##..###...###...##.##...##.....##.##...##..##....##
.##.....##.##.....##.##.....##.##..##...####.####..##...##..##.....##.##..##...##......
.########..##.....##.##.....##.#####....##.###.##.##.....##.########..#####.....######.
.##.....##.##.....##.##.....##.##..##...##.....##.#########.##...##...##..##.........##
.##.....##.##.....##.##.....##.##...##..##.....##.##.....##.##....##..##...##..##....##
.########...#######...#######..##....##.##.....##.##.....##.##.....##.##....##..######.
*/

.bookmark {
  display: inline-block;
  margin: 2px;
  text-decoration: none;
  width: calc(100% - 4px);
  vertical-align: top;
  text-align: left;
  position: relative;
  border-left: 4px solid transparent;
  background-color: var(--color-element);
  border: 1px solid var(--color-border);
  border-radius: var(--px-radius);
  outline: none;
  padding: 0;
}

.bookmark:focus {
  box-shadow: var(--shadow-focus);
}

.bookmark label:first {
  margin: 10px 0;
  width: calc(100% - 44px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.bookmark:hover label {
  width: calc(100% - 64px);
}

.bookmark-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 8px;
}

.bookmark-options {
  border-radius: calc(var(--px-radius) - 2px);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: none;
  background: none;
  display: none;
  padding: 8px;
  opacity: 0.5;
  outline: none;
  padding-bottom: 4px;
  border-radius: calc(var(--px-radius) - 2px);
}

.bookmark-options:hover {
  opacity: 1;
}

.bookmark-options:focus {
  box-shadow: var(--shadow-focus);
}

.bookmark-options:active {
  opacity: 0.25;
}

.bookmark:hover .bookmark-options {
  display: block;
}

.bookmark .bookmark-options:hover {
  border-color: var(--color-border);
}

.bookmark-menu {
  padding: 2px;
  border-top: 1px solid var(--color-border);
  display: none;
  animation: anim-menu;
  animation-duration: 0.25s;
}

.bookmark-menu.active {
  display: block;
}

/*
  # #    # #####  #    # ##### 
  # ##   # #    # #    #   #   
  # # #  # #    # #    #   #   
  # #  # # #####  #    #   #   
  # #   ## #      #    #   #   
  # #    # #       ####    #   
*/

input[type=text] {
  width: calc(100% - 4px);
}

/*
.########..#######..##.......########..########.########...######.
.##.......##.....##.##.......##.....##.##.......##.....##.##....##
.##.......##.....##.##.......##.....##.##.......##.....##.##......
.######...##.....##.##.......##.....##.######...########...######.
.##.......##.....##.##.......##.....##.##.......##...##.........##
.##.......##.....##.##.......##.....##.##.......##....##..##....##
.##........#######..########.########..########.##.....##..######.
*/

#folders {
  display: block;
}

.folder {
  margin-top: 48px;
  background-color: var(--color-back);
  border: 1px solid var(--color-border);
  position: relative;
  padding: 2px;
  margin-left: -1px;
  margin-right: -1px;
}

.folder .name {
  transition: width 0.25s;
  padding: 6px;
  display: inline-block;
  width: calc(100% - 4px);
  text-align: center;
  height: 32px;
  vertical-align: middle;
}

.folder:hover .name {
  width: calc(100% - 40px);
}

.folder.all-bookmarks:hover .name {
  width: calc(100% - 4px);
}

.folder .edit-btn, .folder .add-bookmark-btn {
  position: absolute;
  right: -1px;
  top: -1px;
  background-color: transparent;
  display: none;
  border-radius: 0;
  margin: 0;
  animation: anim-show;
  animation-duration: 0.25s;
}

.folder .add-bookmark-btn {
  right: 30px;
  border-radius: 0 0 0 var(--px-radius);
}

.folder:hover .edit-btn, .folder:hover .add-bookmark-btn {
  border-width: 1px;
  display: block;
}

.folder .edit-btn img, .folder .add-bookmark-btn img {
  padding: 7px 0;
  transition: padding 0.25s;
  margin: -8px;
}

.folder:hover .edit-btn img, .folder:hover .add-bookmark-btn img {
  padding: 7px;
  margin: 0;
}

.folder .edit-btn:hover, .folder .add-bookmark-btn:hover {
  background-color: var(--color-second);
}

.folder .bookmarks:empty::before {
  content: "\2205  Empty folder... Try to bookmark something...";
  color: var(--color-top);
  display: block;
  padding: 4px;
  margin: 2px;
  text-align: center;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/
