/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(0, 0, 0);
  --color-over: rgba(0, 0, 0, 0.1);
  --color-top: rgb(255, 255, 255);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --color-shadow: rgba(0, 0, 0, 0.5);

  --px-radius: 4px;
  --px-font: 14px;
  --px-shadow: 8px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

::-webkit-scrollbar {
  width: 14px;
  background-color: var(--color-over);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-over);
}

::-webkit-input-placeholder {
  color: var(--color-top);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes anim-menu {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 2px;
  overflow-x: hidden;
}

label {
  color: var(--color-top);
}

/*
.########.####.########.##.......########
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##.....##.....##....##.......######..
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##....####....##....########.########
*/

label.subtitle {
  font-size: 24px;
  display: inline-block;
  margin: 8px 16px;
}

.title-btn {
  padding: 4px;
  border-radius: var(--px-radius);
  float: right;
  margin: 8px;
  margin-left: 4px;
}

.title-btn:hover, .title-btn.active {
  background-color: var(--color-over);
}

.title-btn:active {
  opacity: 0.5;
}

/*
.####.##....##.########..##.....##.########
..##..###...##.##.....##.##.....##....##...
..##..####..##.##.....##.##.....##....##...
..##..##.##.##.########..##.....##....##...
..##..##..####.##........##.....##....##...
..##..##...###.##........##.....##....##...
.####.##....##.##.........#######.....##...
*/

input {
  outline: none;
  border: none;
  color: var(--color-top);
  font-size: var(--px-font);
  height: 32px;
  padding: 8px;
  border-radius: var(--px-radius);
  background-color: transparent;
  text-align: center;
  width: calc(100% - 4px);
  margin: 2px;
}

input:hover, input:focus {
  background-color: var(--color-over);
}

/*
.########...#######...#######..##....##.##.....##....###....########..##....##..######.
.##.....##.##.....##.##.....##.##...##..###...###...##.##...##.....##.##...##..##....##
.##.....##.##.....##.##.....##.##..##...####.####..##...##..##.....##.##..##...##......
.########..##.....##.##.....##.#####....##.###.##.##.....##.########..#####.....######.
.##.....##.##.....##.##.....##.##..##...##.....##.#########.##...##...##..##.........##
.##.....##.##.....##.##.....##.##...##..##.....##.##.....##.##....##..##...##..##....##
.########...#######...#######..##....##.##.....##.##.....##.##.....##.##....##..######.
*/

.bookmark {
  display: inline-block;
  margin: 2px;
  text-decoration: none;
  width: calc(50% - 4px);
  vertical-align: top;
  text-align: left;
  position: relative;
  border-left: 4px solid transparent;
  background-color: var(--color-over);
}

.bookmark::before {
  position: absolute;
  content: " ";
  left: -4px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--color-over);
}

.bookmark label {
  margin: 6px 0;
  width: calc(100% - 44px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.bookmark:hover label {
  width: calc(100% - 64px);
}

.bookmark-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 8px;
}

.bookmark-options {
  transition: width 0.25s, height 0.25s;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 32px;
  padding: 4px;
}

.bookmark-options:hover {
  background-color: var(--color-over);
}

.bookmark-options:active {
  opacity: 0.5;
}

.bookmark:hover .bookmark-options {
  width: 32px;
}

.bookmark-menu {
  margin-left: -4px;
  padding: 2px;
  border-top: 2px solid var(--color-over);
  display: none;
  animation: anim-menu;
  animation-duration: 0.25s;
}

.bookmark-menu.active {
  display: block;
}

.bookmark-menu-btn {
  border-radius: var(--px-radius);
  padding: 4px;
  margin: 2px;
  vertical-align: top;
}

.bookmark-menu-btn:hover {
  background-color: var(--color-over);
}

.bookmark-menu-btn:active {
  opacity: 0.5;
}

/*
.########..#######..##.......########..########.########...######.
.##.......##.....##.##.......##.....##.##.......##.....##.##....##
.##.......##.....##.##.......##.....##.##.......##.....##.##......
.######...##.....##.##.......##.....##.######...########...######.
.##.......##.....##.##.......##.....##.##.......##...##.........##
.##.......##.....##.##.......##.....##.##.......##....##..##....##
.##........#######..########.########..########.##.....##..######.
*/

#folders {
  display: block;
}

.folder {
  margin-top: 32px;
}

.folder .name {
  transition: width 0.25s;
  margin: 2px;
  padding: 6px;
  display: inline-block;
  width: calc(100% - 4px);
  background-color: var(--color-over);
  border-radius: calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px) 0 0;
  text-align: center;
  height: 32px;
  vertical-align: middle;
}

.folder:hover .name {
  width: calc(100% - 40px);
}

.folder.all-bookmarks:hover .name {
  width: calc(100% - 4px);
}

.folder .edit-btn {
  display: inline-block;
  padding: 4px 0;
  border-radius: calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px) 0 0;
  vertical-align: middle;
  height: 32px;
  width: 0;
  transition: width 0.25s, padding 0.25s, margin 0.25s;
}

.folder:hover .edit-btn {
  width: 32px;
  padding: 4px;
  margin-left: 2px;
}

.edit-btn:hover {
  background-color: var(--color-over);
}

.edit-btn:active {
  opacity: 0.5 !important;
}

.folder .bookmarks:empty::before {
  content: "\2205  Empty folder... Try to bookmark something...";
  color: var(--color-top);
  background-color: var(--color-over);
  display: block;
  padding: 8px;
  margin: 2px;
  border-radius: 0 0 calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px);
  text-align: center;
}

/*
.########..##........#######...######..##....##
.##.....##.##.......##.....##.##....##.##...##.
.##.....##.##.......##.....##.##.......##..##..
.########..##.......##.....##.##.......#####...
.##.....##.##.......##.....##.##.......##..##..
.##.....##.##.......##.....##.##....##.##...##.
.########..########..#######...######..##....##
*/

hr {
  border: 1px solid var(--color-over);
  margin: 4px 8px;
}

.container {
  background-color: var(--color-over);
  border-radius: calc(var(--px-radius) + 4px);
  padding: 2px;
  margin: 2px;
  text-align: center;
  animation: anim-show;
  animation-duration: 0.25s;
}

.block-title {
  margin-top: 32px;
  text-align: center;
}

.block-title label {
  vertical-align: super;
}

/*
.##....##....###....##.....##....########..########.##....##
.###...##...##.##...##.....##....##.....##....##....###...##
.####..##..##...##..##.....##....##.....##....##....####..##
.##.##.##.##.....##.##.....##....########.....##....##.##.##
.##..####.#########..##...##.....##.....##....##....##..####
.##...###.##.....##...##.##......##.....##....##....##...###
.##....##.##.....##....###.......########.....##....##....##
*/

.nav-btn img {
  margin-bottom: -7px;
}

.nav-btn {
  height: 32px;
  border-radius: var(--px-radius);
  padding: 4px;
  padding-right: 8px;
  margin: 2px;
  display: inline-block;
}

.nav-btn:hover {
  background-color: var(--color-over);
}

.nav-btn:active {
  opacity: 0.5;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/
