/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: SegMDL2;
  src: url(../fonts/SegMDL2.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root {
  /* --color-accent: #5F63FA; */

  /* --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1); */

  --px-radius: 0;
  --px-font: 14px;

  --opacity-over: 0;

  --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);

  --color-back: transparent;
  --color-element: transparent;
  --color-border: transparent;
  --color-second: transparent;
  --color-top: transparent;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes anim-sidebar {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-suggest {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-find {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-notif {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-tab {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
.########..####..######..########.##.....##.########..########....####.##....##
.##.....##..##..##....##....##....##.....##.##.....##.##...........##..###...##
.##.....##..##..##..........##....##.....##.##.....##.##...........##..####..##
.########...##..##..........##....##.....##.########..######.......##..##.##.##
.##.........##..##..........##....##.....##.##...##...##...........##..##..####
.##.........##..##....##....##....##.....##.##....##..##...........##..##...###
.##........####..######.....##.....#######..##.....##.########....####.##....##
*/

#picture-in-panel {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 35%;
  min-width: 440px;
  height: 45%;
  background-color: var(--color-back);
  border: 2px solid var(--color-over);
  animation: anim-show;
  animation-duration: 0.25s;
  transition: transform 0.25s, opacity 0.25s;
}

#picture-in-panel div {
  padding: 2px;
  border-bottom: 2px solid var(--color-over);
  display: none;
  text-align: right;
}

#picture-in-webview {
  height: 100%;
  width: 100%;
  background-color: white;
}

#picture-in-panel:hover {
  height: calc(45% + 42px);
  border-radius: calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px) 0 0;
}

#picture-in-panel:hover #picture-in-webview {
  height: calc(100% - 42px);
}

#picture-in-panel:hover div {
  display: block;
}

#picture-in-panel.hide {
  opacity: 0;
  transform: scale(0.75);
}

/*
.########.####.########.##.......########....########.....###....########.
....##.....##.....##....##.......##..........##.....##...##.##...##.....##
....##.....##.....##....##.......##..........##.....##..##...##..##.....##
....##.....##.....##....##.......######......########..##.....##.########.
....##.....##.....##....##.......##..........##.....##.#########.##...##..
....##.....##.....##....##.......##..........##.....##.##.....##.##....##.
....##....####....##....########.########....########..##.....##.##.....##
*/

#drag-zone {
  -webkit-app-region: drag;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: calc(100% - 32px);
  z-index: -100;
}

#drag-zone.maximize {
  left: 0;
  right: 0;
  top: 0;
}

#titlebar {
  padding: 2px;
  display: flex;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-back);
}

#pin-sidebar-btn, #unpin-sidebar-btn {
  position: absolute;
  left: 2px;
  bottom: 2px;
  transition: bottom 0.25s;
}

#resize-sidebar-btn {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

#search-div {
  flex: 1;
  position: relative;
  z-index: 200;
  margin: 2px;
}

#search-input {
  width: 100%;
  margin: 0;
}

.title-bar-vr {
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: var(--color-border);
  margin: 10px 2px;
}

/*
.##......##.####.##....##.....######...#######..##....##.########.########...#######..##........######.
.##..##..##..##..###...##....##....##.##.....##.###...##....##....##.....##.##.....##.##.......##....##
.##..##..##..##..####..##....##.......##.....##.####..##....##....##.....##.##.....##.##.......##......
.##..##..##..##..##.##.##....##.......##.....##.##.##.##....##....########..##.....##.##........######.
.##..##..##..##..##..####....##.......##.....##.##..####....##....##...##...##.....##.##.............##
.##..##..##..##..##...###....##....##.##.....##.##...###....##....##....##..##.....##.##.......##....##
..###..###..####.##....##.....######...#######..##....##....##....##.....##..#######..########..######.
*/

#window-controls {
  -webkit-app-region: no-drag;
  float: right;
  height: 32px;
  display: grid;
  grid-template-columns: repeat(3, 46px);
}

#window-controls.linux {
  grid-template-columns: repeat(3, 32px);
}

#window-controls span {
  font-family: SegMDL2;
  font-size: 10px;
}

#window-controls .nav-btn {
  grid-row: 1 / span 1;
  border-radius: 0;
  width: 32px;
  height: 32px;
  margin: 0;
  border: none;
  background-color: transparent;
}

#window-controls .nav-btn:hover {
  background-color: var(--color-second);
}

#window-controls .nav-btn:active {
  background-color: var(--color-border);
}

#window-controls .nav-btn img {
  margin-top: -4px;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-top);
  transition: background-color 0.25s;
}

#window-controls .button:hover {
  background-color: var(--color-second);
}

#window-controls #min-button {
  grid-column: 1;
}

#window-controls #max-btn, #window-controls #restore-btn {
  grid-column: 2;
}

#window-controls #close-btn {
  grid-column: 3;
}

#window-controls #close-btn:hover {
  background-color: #E81022;
  color: white;
  opacity: 1 !important;
}

.etabs-tabgroup.blur #window-controls .button, .etabs-tabgroup.blur .theme-icon, #window-controls .button:active, #window-controls #close-btn:active {
  opacity: 0.5 !important;
}

/*
..######..##.....##..######....######...########..######..########.####..#######..##....##..######.
.##....##.##.....##.##....##..##....##..##.......##....##....##.....##..##.....##.###...##.##....##
.##.......##.....##.##........##........##.......##..........##.....##..##.....##.####..##.##......
..######..##.....##.##...####.##...####.######....######.....##.....##..##.....##.##.##.##..######.
.......##.##.....##.##....##..##....##..##.............##....##.....##..##.....##.##..####.......##
.##....##.##.....##.##....##..##....##..##.......##....##....##.....##..##.....##.##...###.##....##
..######...#######...######....######...########..######.....##....####..#######..##....##..######.
*/

#search-suggest {
  animation-name: anim-suggest;
  animation-duration: 0.25s;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 4px);
  border-radius: 0 0 calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px);
  background-color: var(--color-back);
  border: 1px solid var(--color-border);
  transition: 0.25s;
}

#search-suggest.hide {
  opacity: 0;
  transform: translateY(-40px);
}

#search-suggest-container {
  text-align: center;
  border-bottom: 1px solid var(--color-border);
}

#search-suggest-container input {
  outline: none;
  width: 100%;
  display: block;
  margin: 0;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  border-radius: 0;
  height: 28px;
  color: var(--color-top);
}

#search-suggest-container input:first-child {
  border-top: none;
}

#search-suggest-container input:last-child {
  border-bottom: none;
}

#search-suggest-container input.active {
  border-color: var(--color-border);
  box-shadow: none;
  background-color: var(--color-element);
}

#search-engines {
  display: block;
  margin: 2px;
  text-align: center;
} 

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-back);
  background-attachment: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

/* fullscreen */
body.fullscreen .etabs-tabgroup, body.fullscreen #titlebar, body.fullscreen #bookmarks-bar {
  display: none;
}

/* bookmarks bar */
/* body.bookmarks-bar #search-suggest {
  border-radius: calc(var(--px-radius) + 4px);
} */

/* body.bookmarks-bar #titlebar {
  border-bottom: none;
} */

/* collapse sidebar */
body.collapse-sidebar #sidebar-div {
  width: 42px;
}

body.collapse-sidebar #sidebar-div .tab-btn {
  border-radius: var(--px-radius);
  width: calc(100% - 4px);
}

body.collapse-sidebar #sidebar-div .tab-btn label {
  display: none;
}

body.collapse-sidebar #pin-sidebar-btn, body.collapse-sidebar #unpin-sidebar-btn {
  bottom: 40px;
  left: 2px;
}

/* pinned sidebar */
body.pinned-sidebar .etabs-views {
  right: 463px;
}

body.pinned-sidebar.collapse-sidebar .etabs-views {
  right: 369px;
}

/* show menubar */
body.show-menubar .etabs-tabs {
  border-top: 1px solid var(--color-border);
}

/* main */
main {
  position: relative;
  flex: 1;
}

/* theme icon */
.theme-icon {
  opacity: 0;
}

/*
.##.....##.####....########.##.......########.##.....##.########.##....##.########..######.
.##.....##..##.....##.......##.......##.......###...###.##.......###...##....##....##....##
.##.....##..##.....##.......##.......##.......####.####.##.......####..##....##....##......
.##.....##..##.....######...##.......######...##.###.##.######...##.##.##....##.....######.
.##.....##..##.....##.......##.......##.......##.....##.##.......##..####....##..........##
.##.....##..##.....##.......##.......##.......##.....##.##.......##...###....##....##....##
..#######..####....########.########.########.##.....##.########.##....##....##.....######.
*/

#target-url {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-back);
  color: var(--color-top);
  padding: 2px 8px;
  border-radius: 0 var(--px-radius) 0 0;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  max-width: calc(50%);
  border: 2px solid var(--color-over);
  border-left: none;
  border-bottom: none;
}

#target-url:empty {
  display: none;
}

label {
  color: var(--color-top);
  word-break: break-all;
}

label.subtitle {
  font-size: 24px;
}

label.title {
  font-size: 48px;
}

hr {
  border: 0.5px solid var(--color-border);
  margin: 2px 8px;
}

/*
.########....###....########.....########..########..########.##.....##.####.########.##......##
....##......##.##...##.....##....##.....##.##.....##.##.......##.....##..##..##.......##..##..##
....##.....##...##..##.....##....##.....##.##.....##.##.......##.....##..##..##.......##..##..##
....##....##.....##.########.....########..########..######...##.....##..##..######...##..##..##
....##....#########.##.....##....##........##...##...##........##...##...##..##.......##..##..##
....##....##.....##.##.....##....##........##....##..##.........##.##....##..##.......##..##..##
....##....##.....##.########.....##........##.....##.########....###....####.########..###..###.
*/

.etabs-tab div {
  position: absolute;
  left: -1px;
  width: calc(100% + 2px);
  top: 32px;
  background-color: var(--color-back);
  border: 1px solid var(--color-border);
  border-radius: 0 0 calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px);
  text-align: center;
  padding: 4px;
  /* animation: anim-suggest;
  animation-duration: 0.25s; */
  min-width: 128px;
  z-index: 500;
}

.etabs-tab div img {
  width: 100%;
  border-radius: var(--px-radius);
  margin-bottom: -4px;
}

/*
.########....###....########...######.
....##......##.##...##.....##.##....##
....##.....##...##..##.....##.##......
....##....##.....##.########...######.
....##....#########.##.....##.......##
....##....##.....##.##.....##.##....##
....##....##.....##.########...######.
*/

.etabs-tabgroup {
  background-color: var(--color-back);
  cursor: default;
  font-size: var(--px-font);
  border-bottom: 1px solid var(--color-border);
}

.etabs-tabs {
  max-width: calc(100% - 256px);
  float: left;
  /* overflow-y: hidden; */
  /* overflow-x: auto; */
  display: flex;
  flex-direction: row;
}

.etabs-tab {
  -webkit-app-region: no-drag;
  display: none;
  position: relative;
  color: var(--color-top);
  height: 34px;
  padding: 8px;
  cursor: default;
  width: 256px;
  min-width: 28px;
  flex-grow: 1;
  border: 1px solid var(--color-border);
  margin: -1px;
  margin-right: 0;
}

/* body.system-titlebar .etabs-buttons {
  margin-bottom: 4px;
}

body.system-titlebar .etabs-buttons button {
  margin: 4px;
  margin-right: 0;
  border-radius: var(--px-radius);
}

body.system-titlebar .etabs-tabgroup {
  background-color: transparent;
}

body.system-titlebar .etabs-tab {
  border-radius: var(--px-radius);
  margin: 4px;
  margin-right: 0;
} */

/* body.system-titlebar .etabs-tab.active {
  background-color: var(--color-over);
} */

.etabs-tab:hover {
  background-color: var(--color-element);
}

.etabs-tab.gu-mirror {
  padding-bottom: 0;
}

.etabs-tab.visible {
  display: inline-block;
}

.etabs-tab.active {
  background-color: var(--color-element);
}

.etabs-tab.active .etabs-tab-title {
  opacity: 1;
}

.etabs-tab.flash {
  background: linear-gradient(to bottom, rgba(255,243,170,1) 0%,rgba(255,227,37,1) 100%);
}

.etabs-buttons {
  float: left;
  height: 32px;
}

.etabs-buttons button {
  -webkit-app-region: no-drag;
  outline: none;
  float: left;
  color: var(--color-top);
  background: none;
  border: none;
  font-size: var(--px-font);
  padding: 0;
  height: 32px;
}

.etabs-buttons button img {
  padding: 10px;
}

.etabs-buttons button:hover {
  background-color: var(--color-second);
}

.etabs-buttons button:focus {
  box-shadow: var(--shadow-focus);
}

.etabs-buttons button:active {
  background-color: var(--color-border);
}

.etabs-tab-badge {
  position: absolute;
  right: 0;
  top: -7px;
  background: var(--color-orange);
  border-radius: var(--px-radius);
  text-align: center;
  font-size: var(--px-font);
  padding: 0 5px;
}

.etabs-tab-badge.hidden {
  display: none;
}

.etabs-tab-icon {
  display: inline-block;
  height: 16px;
}

.etabs-tab-icon img {
  max-width: 16px;
  max-height: 16px;
}

.etabs-tab-title {
  overflow: hidden;
  position: absolute;
  top: 6px;
  left: 30px;
  right: 28px;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  opacity: var(--opacity-over);
}

.etabs-tab:hover .etabs-tab-buttons, .etabs-tab.active .etabs-tab-buttons {
  transform: scale(1);
}

.etabs-tab-buttons {
  position: absolute;
  right: 5px;
  top: 5px;
  transition: 0.25s;
  transform: scale(0);
}

.etabs-tab-buttons button {
  outline: none;
  display: inline-block;
  color: var(--color-top);
  background: none;
  border: none;
  width: 22px;
  height: 22px;
  border-radius: var(--px-radius);
  position: relative;
  border: 1px solid transparent;
}


.etabs-tab-buttons button:after {
  content: '';
  height: 12px;
  border-left: 2px solid var(--color-top);
  position: absolute;
  transform: rotate(45deg);
  left: 9px;
  top: 4px;
}

.etabs-tab-buttons button:before {
  content: '';
  height: 12px;
  border-left: 2px solid var(--color-top);
  position: absolute;
  transform: rotate(-45deg);
  top: 4px;
  left: 9px;
}

.etabs-tab-buttons button:hover {
  background-color: var(--color-second);
  border-color: var(--color-border);
}

.etabs-tab-buttons button:focus {
  box-shadow: var(--shadow-focus);
}

.etabs-tab-buttons button:active {
  background-color: var(--color-border);
}

.etabs-views {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.etabs-view {
  background-color: white;
}

/*
.##......##....###....########.########.########..##.....##....###....########..##....##
.##..##..##...##.##......##....##.......##.....##.###...###...##.##...##.....##.##...##.
.##..##..##..##...##.....##....##.......##.....##.####.####..##...##..##.....##.##..##..
.##..##..##.##.....##....##....######...########..##.###.##.##.....##.########..#####...
.##..##..##.#########....##....##.......##...##...##.....##.#########.##...##...##..##..
.##..##..##.##.....##....##....##.......##....##..##.....##.##.....##.##....##..##...##.
..###..###..##.....##....##....########.##.....##.##.....##.##.....##.##.....##.##....##
*/

#watermark {
  opacity: var(--opacity-over);
  position: absolute;
  height: calc(100% - 32px);
  max-height: 256px;
  right: -32px;
  bottom: -32px;
  z-index: -100;
}

/*
..######..####.########..########.########.....###....########.
.##....##..##..##.....##.##.......##.....##...##.##...##.....##
.##........##..##.....##.##.......##.....##..##...##..##.....##
..######...##..##.....##.######...########..##.....##.########.
.......##..##..##.....##.##.......##.....##.#########.##...##..
.##....##..##..##.....##.##.......##.....##.##.....##.##....##.
..######..####.########..########.########..##.....##.##.....##
*/

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: -1px;
  background-color: var(--color-back);
  animation-name: anim-sidebar;
  animation-duration: 0.25s;
  transition: transform 0.25s, opacity 0.25s;
  border-left: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

#sidebar.hide {
  opacity: 0;
  transform: translateX(40px);
}

#sidebar-div {
  height: 100%;
  width: 136px;
  padding: 2px;
  float: left;
  position: relative;
  overflow-y: auto;
  transition: width 0.25s;
  border-right: 1px solid var(--color-border);
}

#sidebar-div .tab-btn {
  width: calc(100% - 4px);
  margin-bottom: 4px;
  text-align: left;
  background-color: transparent;
  border-color: transparent;
}

#sidebar-div .tab-btn:hover, #sidebar-div .tab-btn:active, #sidebar-div .tab-btn:focus, #sidebar-div .tab-btn.active {
  border-color: var(--color-border);
}

#sidebar-div .tab-btn:hover {
  background-color: var(--color-second);
}

#sidebar-div .tab-btn:active, #sidebar-div .tab-btn.active {
  background-color: var(--color-border);
}

#sidebar-webview {
  height: 100%;
  width: 326px;
}

/*
.########...#######...#######..##....##.##.....##....###....########..##....##..######.....########.....###....########.
.##.....##.##.....##.##.....##.##...##..###...###...##.##...##.....##.##...##..##....##....##.....##...##.##...##.....##
.##.....##.##.....##.##.....##.##..##...####.####..##...##..##.....##.##..##...##..........##.....##..##...##..##.....##
.########..##.....##.##.....##.#####....##.###.##.##.....##.########..#####.....######.....########..##.....##.########.
.##.....##.##.....##.##.....##.##..##...##.....##.#########.##...##...##..##.........##....##.....##.#########.##...##..
.##.....##.##.....##.##.....##.##...##..##.....##.##.....##.##....##..##...##..##....##....##.....##.##.....##.##....##.
.########...#######...#######..##....##.##.....##.##.....##.##.....##.##....##..######.....########..##.....##.##.....##
*/

#bookmarks-bar {
  padding-top: 0;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-back);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bookmarks-bar:empty::before {
  font-size: 12px;
  content: "\2205  No bookmarks... Try to bookmark something...";
  color: var(--color-top);
  margin: 2px;
  margin-bottom: 4px;
}

.bookmark, .folder {
  display: inline-block;
  margin-top: 0;
  height: 32px;
  padding: 8px;
  vertical-align: top;
  min-width: 24px;
  width: 128px;
  min-width: 24px;
  background: none;
  border: none;
  text-align: left;
  position: relative;
  outline: none;
  margin-right: 4px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.bookmark:first-child, .folder:first-child {
  margin-left: 4px;
}

.bookmark:hover, .folder:hover {
  background-color: var(--color-second);
  border-color: var(--color-border);
}

.bookmark:focus, .folder:focus {
  box-shadow: var(--shadow-focus);
}

.bookmark span, .folder span {
  vertical-align: top;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  color: var(--color-top);
  padding: 8px;
  padding-left: 28px;
}

.bookmark img:first, .folder img:first {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.bookmark .bookmark-div, .folder .folder-div, .folder .edit-folder-div {
  position: absolute;
  left: -1px;
  background-color: var(--color-back);
  top: 32px;
  z-index: 50;
  animation: anim-suggest;
  animation-duration: 0.25s;
  border-radius: 0 0 var(--px-radius) var(--px-radius);
  border: 1px solid var(--color-border);
  transition: transform 0.25s, opacity 0.25s;
}

.bookmark {
  -webkit-user-drag: element;
  text-decoration: none;
  cursor: default;
  color: var(--color-top);
}

.bookmark .bookmark-div, .folder .edit-folder-div {
  width: 256px;
  text-align: center;
  padding: 2px;
}

.bookmark .bookmark-div.hide, .folder .edit-folder-div.hide {
  opacity: 0;
  transform: translateY(-40px);
}

.folder .folder-div {
  display: none;
  right: -1px;
}

.folder.show .folder-div {
  display: block;
}

.folder .folder-div .bookmark-div {
  border-radius: calc(var(--px-radius) + 4px);
  top: 16px;
  left: 16px;
}

.folder .folder-div .bookmark {
  width: 100%;
  margin: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: none;
  border-right: none;
}

.folder .folder-div .bookmark:hover {
  border-color: var(--color-border);
}

.folder .folder-div .bookmark:first-child {
  border-top: none;
}

.folder .folder-div .bookmark:last-child {
  border-radius: 0 0 calc(var(--px-radius) - 2px) calc(var(--px-radius) - 2px);
  border-bottom: none;
}

.bookmark .bookmark-div input, .folder .edit-folder-div input {
  width: calc(100% - 4px);
}

.folder .folder-div:empty::before {
  content: "\2205  Empty folder... ";
  color: var(--color-top);
  display: block;
  padding: 4px;
  margin: 2px;
  font-size: 12px;
  text-align: center;
} 

/* only labels */
#bookmarks-bar.only-labels .bookmark, #bookmarks-bar.only-labels .folder {
  height: 24px;
}

#bookmarks-bar.only-labels .folder .folder-div {
  top: 24px;
}

#bookmarks-bar.only-labels .bookmark-icon, #bookmarks-bar.only-labels .folder-icon {
  display: none;
}

#bookmarks-bar.only-labels .bookmark span, #bookmarks-bar.only-labels .folder span {
  padding: 4px 8px;
}

#bookmarks-bar.only-labels .bookmark-div, #bookmarks-bar.only-labels .edit-folder-div {
  top: 24px;
}

#bookmarks-bar.only-labels .folder-div .bookmark-div {
  top: 16px;
}

/* only icons */
#bookmarks-bar.only-icons .bookmark, #bookmarks-bar.only-icons .folder {
  width: 32px;
}

#bookmarks-bar.only-icons .folder-div .bookmark {
  width: 30px;
  height: 30px;
  padding: 7px;
}

#bookmarks-bar.only-icons .bookmark span, #bookmarks-bar.only-icons .folder span {
  display: none;
}

/*
.########.####.##....##.########.
.##........##..###...##.##.....##
.##........##..####..##.##.....##
.######....##..##.##.##.##.....##
.##........##..##..####.##.....##
.##........##..##...###.##.....##
.##.......####.##....##.########.
*/

#find-panel {
  padding: 2px;
  border-top: 1px solid var(--color-border);
  animation-name: anim-find;
  animation-duration: 0.25s;
  transition: 0.25s;
  text-align: left;
  background-color: var(--color-back);
}

#find-panel.hide {
  opacity: 0;
  transform: translateY(40px);
}

#find-input {
  display: inline-block;
  width: 200px;
}

#find-panel .close-btn {
  float: right;
}

.find-panel-icon {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
}

/*
.########..##........#######...######..##....##....########.####.########.##.......########
.##.....##.##.......##.....##.##....##.##...##........##.....##.....##....##.......##......
.##.....##.##.......##.....##.##.......##..##.........##.....##.....##....##.......##......
.########..##.......##.....##.##.......#####..........##.....##.....##....##.......######..
.##.....##.##.......##.....##.##.......##..##.........##.....##.....##....##.......##......
.##.....##.##.......##.....##.##....##.##...##........##.....##.....##....##.......##......
.########..########..#######...######..##....##.......##....####....##....########.########
*/

.block-title {
  padding: 4px;
}

.block-title label {
  vertical-align: super;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/
