/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: SegMDL2;
  src: url(../fonts/SegMDL2.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(0, 0, 0);
  --color-over: rgba(0, 0, 0, 0.1);
  --color-top: rgb(255, 255, 255);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --color-active: rgb(35, 96, 255);

  --px-radius: 4px;
  --px-font: 14px;

  --opacity-blur: 0.2;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes anim-sidebar {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-suggest {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-find {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes anim-notif {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-tab {
  from {
    opacity: 0;
    transform: translateY(32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

::-webkit-scrollbar {
  width: 14px;
  background-color: var(--color-over);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-over);
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: var(--color-top);
}

/*
.##....##..#######..########.####.########.####..######.....###....########.####..#######..##....##..######.
.###...##.##.....##....##.....##..##........##..##....##...##.##......##.....##..##.....##.###...##.##....##
.####..##.##.....##....##.....##..##........##..##........##...##.....##.....##..##.....##.####..##.##......
.##.##.##.##.....##....##.....##..######....##..##.......##.....##....##.....##..##.....##.##.##.##..######.
.##..####.##.....##....##.....##..##........##..##.......#########....##.....##..##.....##.##..####.......##
.##...###.##.....##....##.....##..##........##..##....##.##.....##....##.....##..##.....##.##...###.##....##
.##....##..#######.....##....####.##.......####..######..##.....##....##....####..#######..##....##..######.
*/

#notif-panel {
  position: absolute;
  left: 0;
  top: 8px;
  width: 300px;
  z-index: 999;
}

.notif-bar {
  height: 16px;
  background-color: var(--color-over);
  margin: 2px;
  position: relative;
  margin-bottom: 16px;
}

.notif-bar div {
  background-color: var(--color-over);
  height: 100%;
}

.notif-bar label {
  float: right;
}

.notif {
  transition: 0.25s;
  margin-bottom: 8px;
  border-radius: 0 var(--px-radius) var(--px-radius) 0;
  border: 2px solid var(--color-over);
  border-left: none;
  animation-name: anim-notif;
  animation-duration: 0.5s;
}

.notif.success {
  background-color: var(--color-green);
}

.notif.warning, .notif.quest, .notif.loader {
  background-color: var(--color-orange);
}

.notif.info {
  background-color: var(--color-blue);
}

.notif.error {
  background-color: var(--color-red);
}

.notif.closed {
  transform: translateX(-40px);
  opacity: 0;
}

.notif-body {
  position: relative;
  top: 0;
  left: 32px;
  width: calc(100% - 32px);
  padding: 10px;
  padding-right: 54px;
  padding-left: 14px;
}

.notif.quest .notif-body {
  padding-right: 14px;
}

.notif-text {
  word-break: break-word;
  word-wrap: break-word;
  color: var(--color-top);
}

.notif-icon {
  position: absolute;
  padding: 8px;
}

.notif-close {
  transition: 0.25s;
  position: absolute;
  right: 4px;
  padding: 4px;
  top: 4px;
  border-radius: var(--px-radius);
  width: 0;
  height: 0;
  margin-top: 16px;
  margin-right: 16px;
}

.notif:hover .notif-close {
  margin-top: 0;
  margin-right: 0;
  width: 32px;
  height: 32px;
}

.notif-close:hover {
  background-color: var(--color-over);
}

/*
.########.####.########.##.......########....########.....###....########.
....##.....##.....##....##.......##..........##.....##...##.##...##.....##
....##.....##.....##....##.......##..........##.....##..##...##..##.....##
....##.....##.....##....##.......######......########..##.....##.########.
....##.....##.....##....##.......##..........##.....##.#########.##...##..
....##.....##.....##....##.......##..........##.....##.##.....##.##....##.
....##....####....##....########.########....########..##.....##.##.....##
*/

#drag-zone {
  -webkit-app-region: drag;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: calc(100% - 32px);
  z-index: -100;
}

#drag-zone.maximize {
  left: 0;
  right: 0;
  top: 0;
}

#titlebar {
  padding: 2px;
  height: 42px;
  z-index: 102;
  background-color: var(--color-back);
  border-bottom: 2px solid var(--color-over);
}

.etabs-tabgroup .title-bar-btn {
  border-radius: 0;
  margin: 0;
  padding: 8px;
}

#pin-sidebar-btn, #unpin-sidebar-btn {
  float: right;
}

.title-bar-btn, #search-input {
  border-radius: var(--px-radius);
  padding: 4px;
  margin: 2px;
  vertical-align: top;
  -webkit-app-region: no-drag;
}

#search-input {
  width: calc(100% - 293px);
}

.title-bar-btn:hover, #search-input:hover, #search-input:focus {
  background-color: var(--color-over);
}

.title-bar-btn.disable {
  opacity: var(--opacity-blur);
}

.title-bar-btn.active {
  background-color: var(--color-over);
}

.title-bar-btn:active {
  opacity: 0.5;
}

.title-bar-vr {
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: var(--color-over);
  margin: 8px 0;
}

/*
.##......##.####.##....##.....######...#######..##....##.########.########...#######..##........######.
.##..##..##..##..###...##....##....##.##.....##.###...##....##....##.....##.##.....##.##.......##....##
.##..##..##..##..####..##....##.......##.....##.####..##....##....##.....##.##.....##.##.......##......
.##..##..##..##..##.##.##....##.......##.....##.##.##.##....##....########..##.....##.##........######.
.##..##..##..##..##..####....##.......##.....##.##..####....##....##...##...##.....##.##.............##
.##..##..##..##..##...###....##....##.##.....##.##...###....##....##....##..##.....##.##.......##....##
..###..###..####.##....##.....######...#######..##....##....##....##.....##..#######..########..######.
*/

/* #window-controls {
  float: right;
} */

/* #window-controls .title-bar-btn {
  float: right;
}

#close-btn:hover {
  background-color: var(--color-red);
} */

#window-controls {
  -webkit-app-region: no-drag;
  display: grid;
  grid-template-columns: repeat(3, 46px);
  float: right;
  height: 100%;
}

.etabs-tabgroup.blur #window-controls {
  opacity: 0.5;
}

#window-controls span {
  font-family: SegMDL2;
  font-size: 10px;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-top);
}

#window-controls .button:hover {
  background-color: var(--color-over);
}

#window-controls .button:active {
  opacity: 0.5;
}

#window-controls #min-button {
  grid-column: 1;
}

#window-controls #max-btn, #window-controls #restore-btn {
  grid-column: 2;
}

#window-controls #close-btn {
  grid-column: 3;
}

#window-controls #close-btn:hover {
  background-color: #E81022;
  color: white;
}

/*
..######..##.....##..######....######...########..######..########.####..#######..##....##..######.
.##....##.##.....##.##....##..##....##..##.......##....##....##.....##..##.....##.###...##.##....##
.##.......##.....##.##........##........##.......##..........##.....##..##.....##.####..##.##......
..######..##.....##.##...####.##...####.######....######.....##.....##..##.....##.##.##.##..######.
.......##.##.....##.##....##..##....##..##.............##....##.....##..##.....##.##..####.......##
.##....##.##.....##.##....##..##....##..##.......##....##....##.....##..##.....##.##...###.##....##
..######...#######...######....######...########..######.....##....####..#######..##....##..######.
*/

#search-suggest {
  z-index: 101;
  animation-name: anim-suggest;
  animation-duration: 0.25s;
  position: absolute;
  right: 123px;
  left: 162px;
  top: 0;
  border-radius: 0 0 var(--px-radius) var(--px-radius);
  background-color: var(--color-back);
  border: solid 2px var(--color-over);
  border-top: none;
  transition: 0.25s;
}

#search-suggest.hide {
  opacity: 0;
  transform: translateY(-40px);
}

#search-suggest .title-bar-btn {
  margin-top: 0;
}

#search-suggest-container {
  width: 100%;
  border-radius: var(--px-radius);
  text-align: center;
}

#search-suggest-container input {
  outline: none;
  border: none;
  color: var(--color-top);
  background-color: transparent;
  font-size: var(--px-font);
  width: calc(100% - 8px);
  height: 32px;
  border-radius: var(--px-radius);
  text-align: center;
  display: block;
  border: solid 2px transparent;
  margin: 4px;
}

#search-suggest-container:empty::before {
  content: "\2205  No suggestions... Check your connection...";
  color: var(--color-top);
  margin: 2px;
}

#search-suggest-container input.active, #search-suggest-container input:hover {
  background-color: var(--color-over);
}

#search-engines {
  display: block;
  margin: 2px;
  margin-top: 0;
  text-align: center;
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-back);
  background-attachment: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

body.fullscreen .etabs-tabgroup, body.fullscreen #titlebar, body.fullscreen #bookmarks-bar {
  display: none;
}

main {
  position: relative;
  flex: 1;
}

/*
.##.....##.####....########.##.......########.##.....##.########.##....##.########..######.
.##.....##..##.....##.......##.......##.......###...###.##.......###...##....##....##....##
.##.....##..##.....##.......##.......##.......####.####.##.......####..##....##....##......
.##.....##..##.....######...##.......######...##.###.##.######...##.##.##....##.....######.
.##.....##..##.....##.......##.......##.......##.....##.##.......##..####....##..........##
.##.....##..##.....##.......##.......##.......##.....##.##.......##...###....##....##....##
..#######..####....########.########.########.##.....##.########.##....##....##.....######.
*/

#target-url {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color-back);
  color: var(--color-top);
  padding: 2px 8px;
  border-radius: 0 var(--px-radius) 0 0;
  font-size: 12px;
  overflow:hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  max-width: calc(100% - 8px);
  border: 2px solid var(--color-over);
  border-left: none;
  border-bottom: none;
}

#target-url:empty {
  opacity: 0;
}

label {
  color: var(--color-top);
  word-break: break-all;
}

label.subtitle {
  font-size: 24px;
}

label.title {
  font-size: 48px;
}

input {
  outline: none;
  border: none;
  color: var(--color-top);
  font-size: var(--px-font);
  height: 32px;
  padding: 4px;
  border-radius: var(--px-radius);
  background-color: transparent;
  text-align: center;
  margin: 2px;
  display: inline-block;
  vertical-align: top;
}

input:hover, input:focus {
  background-color: var(--color-over);
}

hr {
  border: 1px solid var(--color-over);
  margin: 4px 8px;
}

/*
.##....##....###....##.....##....########..########.##....##
.###...##...##.##...##.....##....##.....##....##....###...##
.####..##..##...##..##.....##....##.....##....##....####..##
.##.##.##.##.....##.##.....##....########.....##....##.##.##
.##..####.#########..##...##.....##.....##....##....##..####
.##...###.##.....##...##.##......##.....##....##....##...###
.##....##.##.....##....###.......########.....##....##....##
*/

.nav-btn img {
  margin-bottom: -7px;
}

.nav-btn {
  height: 32px;
  border-radius: var(--px-radius);
  padding: 4px;
  padding-right: 8px;
  display: inline-block;
  margin: 2px;
  vertical-align: top;
}

.nav-btn:hover, .nav-btn.active {
  background-color: var(--color-over);
}

.nav-btn:active {
  opacity: 0.5;
}

/*
.########....###....########...######.
....##......##.##...##.....##.##....##
....##.....##...##..##.....##.##......
....##....##.....##.########...######.
....##....#########.##.....##.......##
....##....##.....##.##.....##.##....##
....##....##.....##.########...######.
*/

.etabs-tabgroup {
  height: 32px;
  background-color: var(--color-over);
  cursor: default;
  font-size: var(--px-font);
}

.etabs-tabs {
  max-width: calc(100% - 256px);
  float: left;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.etabs-tab {
  -webkit-app-region: no-drag;
  display: none;
  position: relative;
  color: var(--color-top);
  height: 32px;
  padding: 6px;
  cursor: default;
  width: 256px;
  min-width: 28px;
  border-top: 4px solid transparent;
}

.etabs-tab:hover {
  background-color: var(--color-over);
}

.etabs-tab.gu-mirror {
  padding-bottom: 0;
}

.etabs-tab.visible {
  display: inline-block;
}

.etabs-tab.active {
  background-color: var(--color-back);
}

.etabs-tab.flash {
  background: linear-gradient(to bottom, rgba(255,243,170,1) 0%,rgba(255,227,37,1) 100%);
}

.etabs-buttons {
  float: left;
  height: 32px;
}

.etabs-buttons button {
  -webkit-app-region: no-drag;
  outline: none;
  float: left;
  color: var(--color-top);
  background: none;
  border: none;
  font-size: var(--px-font);
  padding: 8px;
  height: 32px;
}

.etabs-buttons button:hover {
  background-color: var(--color-over);
}

.etabs-tab-badge {
  position: absolute;
  right: 0;
  top: -7px;
  background: var(--color-orange);
  border-radius: var(--px-radius);
  text-align: center;
  font-size: var(--px-font);
  padding: 0 5px;
}

.etabs-tab-badge.hidden {
  display: none;
}

.etabs-tab-icon {
  display: inline-block;
  height: 16px;
}

.etabs-tab-icon img {
  max-width: 16px;
  max-height: 16px;
}

.etabs-tab-title {
  overflow: hidden;
  position: absolute;
  top: 4px;
  left: 28px;
  right: 28px;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.etabs-tab:hover .etabs-tab-buttons, .etabs-tab.active .etabs-tab-buttons {
  transform: scale(1);
}

.etabs-tab-buttons {
  position: absolute;
  right: 4px;
  top: 4px;
  transition: 0.25s;
  transform: scale(0);
}

.etabs-tab-buttons button {
  outline: none;
  display: inline-block;
  color: var(--color-top);
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: var(--px-radius);
  position: relative;
}

.etabs-tab-buttons button:after {
    content: '';
    height: 12px;
    border-left: 2px solid var(--color-top);
    position: absolute;
    transform: rotate(45deg);
    left: 9px;
    top: 4px;
}

.etabs-tab-buttons button:before {
    content: '';
    height: 12px;
    border-left: 2px solid var(--color-top);
    position: absolute;
    transform: rotate(-45deg);
    top: 4px;
    left: 9px;
}

.etabs-tab-buttons button:hover {
  background-color: var(--color-over);
}

.etabs-views {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: white;
}

.etabs-views.pinned {
  right: 482px;
}

.etab-view {

}

/*
..######..####.########..########.########.....###....########.
.##....##..##..##.....##.##.......##.....##...##.##...##.....##
.##........##..##.....##.##.......##.....##..##...##..##.....##
..######...##..##.....##.######...########..##.....##.########.
.......##..##..##.....##.##.......##.....##.#########.##...##..
.##....##..##..##.....##.##.......##.....##.##.....##.##....##.
..######..####.########..########.########..##.....##.##.....##
*/

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 482px;
  bottom: 0;
  background-color: var(--color-back);
  z-index: 5;
  animation-name: anim-sidebar;
  animation-duration: 0.25s;
  border-left: 2px solid var(--color-over);
  transition: transform 0.25s, opacity 0.25s;
}

#sidebar.hide {
  opacity: 0;
  transform: translateX(40px);
}

#sidebar-div {
  height: 100%;
  width: 156px;
  padding: 2px;
  border-right: 2px solid var(--color-over);
  float: left;
  overflow-y: auto;
}

#sidebar-div .nav-btn {
  border-radius: 0 var(--px-radius) var(--px-radius) 0;
  display: block;
  margin-bottom: 4px;
  margin-left: -2px;
  padding-left: 8px;
}

#sidebar-div .title-bar-btn {
  margin-bottom: 0;
}

#sidebar-webview {
  height: 100%;
  width: calc(100% - 156px);
}

/*
.########...#######...#######..##....##.##.....##....###....########..##....##..######.....########.....###....########.
.##.....##.##.....##.##.....##.##...##..###...###...##.##...##.....##.##...##..##....##....##.....##...##.##...##.....##
.##.....##.##.....##.##.....##.##..##...####.####..##...##..##.....##.##..##...##..........##.....##..##...##..##.....##
.########..##.....##.##.....##.#####....##.###.##.##.....##.########..#####.....######.....########..##.....##.########.
.##.....##.##.....##.##.....##.##..##...##.....##.#########.##...##...##..##.........##....##.....##.#########.##...##..
.##.....##.##.....##.##.....##.##...##..##.....##.##.....##.##....##..##...##..##....##....##.....##.##.....##.##....##.
.########...#######...#######..##....##.##.....##.##.....##.##.....##.##....##..######.....########..##.....##.##.....##
*/

#bookmarks-bar {
  margin-top: -2px;
  padding: 2px;
  padding-top: 0;
  height: 30px;
  background-color: var(--color-back);
  z-index: 103;
  border-bottom: 2px solid var(--color-over);
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}

#bookmarks-bar:empty::before {
  content: "\2205  No bookmarks... Try to bookmark something...";
  color: var(--color-top);
}

.bookmark {
  /* display: inline-block; */
  margin: 2px;
  margin-top: 0;
  height: 24px;
  padding: 4px;
  padding-right: 8px;
  border-radius: var(--px-radius);
  vertical-align: top;
  min-width: 24px;
  /* flex: 1; */
}

.bookmark:hover {
  background-color: var(--color-over);
}

.bookmark label {
  vertical-align: top;
  font-size: 12px;
}

.bookmark-icon {
  width: 16px;
  height: 16px;
}

/*
.########.####.##....##.########.
.##........##..###...##.##.....##
.##........##..####..##.##.....##
.######....##..##.##.##.##.....##
.##........##..##..####.##.....##
.##........##..##...###.##.....##
.##.......####.##....##.########.
*/

#find-panel {
  padding: 2px;
  height: 42px;
  border-top: 2px solid var(--color-over);
  animation-name: anim-find;
  animation-duration: 0.25s;
  background-color: var(--color-back);
  z-index: 100;
  transition: 0.25s;
  text-align: left;
}

#find-panel.hide {
  opacity: 0;
  transform: translateY(40px);
}

#find-input {
  display: inline-block;
  width: 200px;
}

#find-panel .title-bar-btn {
  float: right;
}

/*
.########..##........#######...######..##....##....########.####.########.##.......########
.##.....##.##.......##.....##.##....##.##...##........##.....##.....##....##.......##......
.##.....##.##.......##.....##.##.......##..##.........##.....##.....##....##.......##......
.########..##.......##.....##.##.......#####..........##.....##.....##....##.......######..
.##.....##.##.......##.....##.##.......##..##.........##.....##.....##....##.......##......
.##.....##.##.......##.....##.##....##.##...##........##.....##.....##....##.......##......
.########..########..#######...######..##....##.......##....####....##....########.########
*/

.block-title {
  padding: 4px;
}

.block-title label {
  vertical-align: super;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/