/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: transparent;
  --color-over: transparent;
  --color-top: transparent;

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 0;
  --px-font: 14px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 0;
  /* animation-name: anim-slide;
  animation-duration: 0.25s; */
  overflow-x: hidden;
  padding-bottom: 48px;
}

label {
  color: var(--color-top);
}

/* theme icon */
.theme-icon {
  opacity: 0;
}

/*
  # #    # #####  #    # ##### 
  # ##   # #    # #    #   #   
  # # #  # #    # #    #   #   
  # #  # # #####  #    #   #   
  # #   ## #      #    #   #   
  # #    # #       ####    #   
*/

input[type=text] {
  width: calc(100% - 4px);
}

/*
.########...#######..##......##.##....##.##........#######.....###....########.
.##.....##.##.....##.##..##..##.###...##.##.......##.....##...##.##...##.....##
.##.....##.##.....##.##..##..##.####..##.##.......##.....##..##...##..##.....##
.##.....##.##.....##.##..##..##.##.##.##.##.......##.....##.##.....##.##.....##
.##.....##.##.....##.##..##..##.##..####.##.......##.....##.#########.##.....##
.##.....##.##.....##.##..##..##.##...###.##.......##.....##.##.....##.##.....##
.########...#######...###..###..##....##.########..#######..##.....##.########.
*/

#sidebar-downloads:empty::before {
  content: "\2205  No downloads... Try to download something...";
  color: var(--color-top);
  display: block;
  padding: 4px;
  margin: 2px;
  text-align: center;
}

.download {
  border-radius: var(--px-radius);
  margin: 4px;
  text-align: left;
  padding: 6px;
  position: relative;
  color: var(--color-top);
  border: 1px solid var(--color-border);
}

.download:last-child {
  margin-bottom: 0;
}

.download-buttons {
  margin-left: -4px;
  margin-bottom: -4px;
  margin-top: 4px;
  text-align: center;
}

.download-status {
  float: right;
  margin-right: 4px;
}

.download-link, .download-file, .download-ext {
  overflow:hidden;
  position: absolute;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  width: calc(100% - 48px);
  margin-left: 4px;
}

.download-link, .download-file, .download-date, .download-time {
  user-select: all;
}

.download-icon {
  width: 16px;
  height: 16px;
  /* filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5)); */
  vertical-align: middle;
  margin-bottom: 4px;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/