/*
          ██████   ██████   ██████  ████████
          ██   ██ ██    ██ ██    ██    ██
          ██████  ██    ██ ██    ██    ██
          ██   ██ ██    ██ ██    ██    ██
          ██   ██  ██████   ██████     ██
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(0, 0, 0);
  --color-over: rgba(0, 0, 0, 0.1);
  --color-top: rgb(255, 255, 255);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 4px;
  --px-font: 14px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
          ██     ██ ███████ ██████  ██   ██ ██ ████████
          ██     ██ ██      ██   ██ ██  ██  ██    ██
          ██  █  ██ █████   ██████  █████   ██    ██
          ██ ███ ██ ██      ██   ██ ██  ██  ██    ██
           ███ ███  ███████ ██████  ██   ██ ██    ██
*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-over);
}

::-webkit-input-placeholder {
  color: var(--color-top);
}

/*
          ██████   ██████  ██████  ██    ██
          ██   ██ ██    ██ ██   ██  ██  ██
          ██████  ██    ██ ██   ██   ████
          ██   ██ ██    ██ ██   ██    ██
          ██████   ██████  ██████     ██
*/

body {
  margin: 4px;
  padding: 0;
}

label {
  color: var(--color-top);
}

label.subtitle {
  font-size: 24px;
}

label.title {
  font-size: 48px;
}

/*
          ██████  ██       ██████   ██████ ██   ██
          ██   ██ ██      ██    ██ ██      ██  ██
          ██████  ██      ██    ██ ██      █████
          ██   ██ ██      ██    ██ ██      ██  ██
          ██████  ███████  ██████   ██████ ██   ██
*/

hr {
  border: 1px solid var(--color-over);
  margin: 4px 8px;
}

.block-title {
  padding: 4px;
}

.block-title label {
  vertical-align: super;
}

/*
          ██ ███    ██ ██████  ██    ██ ████████
          ██ ████   ██ ██   ██ ██    ██    ██
          ██ ██ ██  ██ ██████  ██    ██    ██
          ██ ██  ██ ██ ██      ██    ██    ██
          ██ ██   ████ ██       ██████     ██
*/

input {
  /* margin: 4px; */
  padding: 8px;
  color: var(--color-top);
  outline: none;
  border: none;
  height: 32px;
  width: 100%;
  border-radius: var(--px-radius);
  background-color: transparent;
  text-align: center;
  /* border: 2px var(--color-over) solid; */
  /* transition: 0.25s; */
}

input:focus, input:hover {
  background-color: var(--color-over);
}

/*
.##....##....###....##.....##....########..########.##....##
.###...##...##.##...##.....##....##.....##....##....###...##
.####..##..##...##..##.....##....##.....##....##....####..##
.##.##.##.##.....##.##.....##....########.....##....##.##.##
.##..####.#########..##...##.....##.....##....##....##..####
.##...###.##.....##...##.##......##.....##....##....##...###
.##....##.##.....##....###.......########.....##....##....##
*/

.nav-btn img {
  margin-bottom: -7px;
}

.nav-btn {
  height: 32px;
  border-radius: var(--px-radius);
  padding: 4px;
  padding-right: 8px;
  /* transition: 0.25s; */
  display: inline-block;
}

.nav-btn:hover {
  background-color: var(--color-over);
}

/*
.########...#######..##......##.##....##.##........#######.....###....########.
.##.....##.##.....##.##..##..##.###...##.##.......##.....##...##.##...##.....##
.##.....##.##.....##.##..##..##.####..##.##.......##.....##..##...##..##.....##
.##.....##.##.....##.##..##..##.##.##.##.##.......##.....##.##.....##.##.....##
.##.....##.##.....##.##..##..##.##..####.##.......##.....##.#########.##.....##
.##.....##.##.....##.##..##..##.##...###.##.......##.....##.##.....##.##.....##
.########...#######...###..###..##....##.########..#######..##.....##.########.
*/

#sidebar-downloads:empty::before {
  content: "\2205  No downloads... Try to download something...";
  color: var(--color-top);
  height: 100px;
  width: 100px;
}

.download {
  /* border: 2px solid var(--color-over); */
  margin-bottom: 4px;
  background-color: var(--color-over);
  border-radius: var(--px-radius);
  text-align: left;
  padding: 8px;
  position: relative;
}

.download:last-child {
  margin-bottom: 0;
}

.download-buttons {
  margin-left: -4px;
  margin-bottom: -4px;
  margin-top: 4px;
}

.download-link, .download-file, .download-status {
  overflow:hidden;
  position: absolute;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  width: calc(100% - 48px);
}

.download-link, .download-file {
  user-select: all;
}

/*
           ██████ ██   ██ ███████  ██████ ██   ██ ██████   ██████  ██   ██
          ██      ██   ██ ██      ██      ██  ██  ██   ██ ██    ██  ██ ██
          ██      ███████ █████   ██      █████   ██████  ██    ██   ███
          ██      ██   ██ ██      ██      ██  ██  ██   ██ ██    ██  ██ ██
           ██████ ██   ██ ███████  ██████ ██   ██ ██████   ██████  ██   ██
*/

.checkbox {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
}

.checkbox::after {
  content: "✘";
  font-weight: bold;
  color: var(--color-top);
}

.checkbox:checked::after {
  content: "✔";
}

/*
          ████████ ██   ██ ███████     ███████ ███    ██ ██████
             ██    ██   ██ ██          ██      ████   ██ ██   ██
             ██    ███████ █████       █████   ██ ██  ██ ██   ██
             ██    ██   ██ ██          ██      ██  ██ ██ ██   ██
             ██    ██   ██ ███████     ███████ ██   ████ ██████
*/
