/*
          ██████   ██████   ██████  ████████
          ██   ██ ██    ██ ██    ██    ██
          ██████  ██    ██ ██    ██    ██
          ██   ██ ██    ██ ██    ██    ██
          ██   ██  ██████   ██████     ██
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(0, 0, 0);
  --color-over: rgba(0, 0, 0, 0.05);
  --color-top: rgb(255, 255, 255);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 4px;
  --px-font: 14px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
          ██     ██ ███████ ██████  ██   ██ ██ ████████
          ██     ██ ██      ██   ██ ██  ██  ██    ██
          ██  █  ██ █████   ██████  █████   ██    ██
          ██ ███ ██ ██      ██   ██ ██  ██  ██    ██
           ███ ███  ███████ ██████  ██   ██ ██    ██
*/

::-webkit-input-placeholder {
  color: var(--color-over);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-over);
  border: 2px solid var(--color-over);
  border-radius: var(--px-radius);
}

::-webkit-input-placeholder {
  color: var(--color-over);
}

/*
          ██████   ██████  ██████  ██    ██
          ██   ██ ██    ██ ██   ██  ██  ██
          ██████  ██    ██ ██   ██   ████
          ██   ██ ██    ██ ██   ██    ██
          ██████   ██████  ██████     ██
*/

body {
  margin: 32px;
}

label {
  color: var(--color-top);
}

label.subtitle {
  font-size: 24px;
}

label.title {
  font-size: 48px;
}

/*
          ██████  ██       ██████   ██████ ██   ██
          ██   ██ ██      ██    ██ ██      ██  ██
          ██████  ██      ██    ██ ██      █████
          ██   ██ ██      ██    ██ ██      ██  ██
          ██████  ███████  ██████   ██████ ██   ██
*/


.container {
  padding: 16px;
  margin-bottom: 32px;
  border-radius: var(--px-radius);
  border: 2px solid var(--color-over);
  background-color: var(--color-over);
  max-width: 960px;
}

.block-title {
  display: none;
  margin-bottom: 8px;
}

.block-title.show {
  display: block;
}

.block-title label {
  vertical-align: super;
}

hr.dotted {
  border: none;
  border-bottom: 4px dotted var(--color-over);
}

/*
          ███    ██  █████  ██    ██     ██████  ████████ ███    ██
          ████   ██ ██   ██ ██    ██     ██   ██    ██    ████   ██
          ██ ██  ██ ███████ ██    ██     ██████     ██    ██ ██  ██
          ██  ██ ██ ██   ██  ██  ██      ██   ██    ██    ██  ██ ██
          ██   ████ ██   ██   ████       ██████     ██    ██   ████
*/

.nav-btn img {
  margin-bottom: -7px;
}

.nav-btn, .colors, .nav-label, .nav-input {
  margin: 4px;
  transition: 0.25s;
  display: inline-block;
}

.nav-btn {
  height: 32px;
  border-radius: var(--px-radius);
  padding: 2px 16px;
  border: 2px solid transparent;
  border: 2px solid var(--color-over);
}

.nav-btn:hover {
  opacity: 0.25;
}

.nav-btn.green {
  background-color: var(--color-green);
}

.nav-btn.red {
  background-color: var(--color-red);
}

.nav-btn.blue {
  background-color: var(--color-blue);
}

.nav-btn.orange {
  background-color: var(--color-orange);
}

/*
          ████████ ██   ██ ███████     ███████ ███    ██ ██████
             ██    ██   ██ ██          ██      ████   ██ ██   ██
             ██    ███████ █████       █████   ██ ██  ██ ██   ██
             ██    ██   ██ ██          ██      ██  ██ ██ ██   ██
             ██    ██   ██ ███████     ███████ ██   ████ ██████
*/
