/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(0, 0, 0);
  --color-over: rgba(0, 0, 0, 0.1);
  --color-top: rgb(255, 255, 255);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 4px;
  --px-font: 14px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

::-webkit-scrollbar {
  width: 14px;
  background-color: var(--color-over);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-over);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: var(--color-top);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-slide {
  from {
    opacity: 0;
    transform: translateX(64px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 2px;
  overflow-x: hidden;
}

label {
  color: var(--color-top);
}

label.subtitle {
  font-size: 24px;
}

label.title {
  font-size: 48px;
}

/*
.########..##........#######...######..##....##....########.####.########.##.......########
.##.....##.##.......##.....##.##....##.##...##........##.....##.....##....##.......##......
.##.....##.##.......##.....##.##.......##..##.........##.....##.....##....##.......##......
.########..##.......##.....##.##.......#####..........##.....##.....##....##.......######..
.##.....##.##.......##.....##.##.......##..##.........##.....##.....##....##.......##......
.##.....##.##.......##.....##.##....##.##...##........##.....##.....##....##.......##......
.########..########..#######...######..##....##.......##....####....##....########.########
*/

hr {
  border: 1px solid var(--color-over);
  margin: 4px 8px;
}

.container {
  background-color: var(--color-over);
  border-radius: var(--px-radius);
  padding: 2px;
  margin: 2px;
}

.block-title {
  margin-top: 32px;
}

.block-title label {
  vertical-align: super;
}

/*
.####.##....##.########..##.....##.########
..##..###...##.##.....##.##.....##....##...
..##..####..##.##.....##.##.....##....##...
..##..##.##.##.########..##.....##....##...
..##..##..####.##........##.....##....##...
..##..##...###.##........##.....##....##...
.####.##....##.##.........#######.....##...
*/

input {
  outline: none;
  border: none;
  color: var(--color-top);
  font-size: var(--px-font);
  height: 32px;
  padding: 8px;
  border-radius: var(--px-radius);
  background-color: transparent;
  text-align: center;
  width: calc(100% - 4px);
  margin: 2px;
}

input:hover, input:focus {
  background-color: var(--color-over);
}

/*
.##....##....###....##.....##....########..########.##....##
.###...##...##.##...##.....##....##.....##....##....###...##
.####..##..##...##..##.....##....##.....##....##....####..##
.##.##.##.##.....##.##.....##....########.....##....##.##.##
.##..####.#########..##...##.....##.....##....##....##..####
.##...###.##.....##...##.##......##.....##....##....##...###
.##....##.##.....##....###.......########.....##....##....##
*/

.nav-btn img {
  margin-bottom: -7px;
}

.nav-btn {
  height: 32px;
  border-radius: var(--px-radius);
  padding: 4px;
  padding-right: 8px;
  margin: 2px;
  display: inline-block;
}

.nav-btn:hover {
  background-color: var(--color-over);
}

.nav-btn:active {
  opacity: 0.5;
}

/*
.##.....##.####..######..########..#######..########..##....##
.##.....##..##..##....##....##....##.....##.##.....##..##..##.
.##.....##..##..##..........##....##.....##.##.....##...####..
.#########..##...######.....##....##.....##.########.....##...
.##.....##..##........##....##....##.....##.##...##......##...
.##.....##..##..##....##....##....##.....##.##....##.....##...
.##.....##.####..######.....##.....#######..##.....##....##...
*/

#history:empty::before {
  content: "\2205  No history... Try to visit something...";
  color: var(--color-top);
  background-color: var(--color-over);
  display: block;
  padding: 8px;
  margin: 2px;
  border-radius: var(--px-radius);
}

.history-item {
  margin: 4px 2px;
  background-color: var(--color-over);
  border-radius: 0 var(--px-radius) var(--px-radius) 0;
  text-align: left;
  padding: 6px;
  position: relative;
  color: var(--color-top);
  border-left: 4px solid transparent;
}

.history-url, .history-name {
  overflow:hidden;
  position: absolute;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
  width: calc(100% - 48px);
  margin-left: 4px;
}

.history-url, .history-name, .history-time, .history-date {
  user-select: all;
}

.history-icon {
  width: 16px;
  height: 16px;
  /* filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5)); */
  vertical-align: middle;
  margin: 2px;
}

.history-buttons {
  margin-left: -4px;
  margin-bottom: -4px;
  margin-top: 4px;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/