/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
    font-family: SegMDL2;
    src: url(../fonts/SegMDL2.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
    --color-back: rgb(255, 255, 255);
    --color-over: rgba(0, 0, 0, 0.05);
    --color-top: rgb(0, 0, 0);
    --color-shadow: rgba(0, 0, 0, 0.5);

    --color-red: rgb(255, 63, 52);
    --color-green: rgb(11, 232, 129);
    --color-blue: rgb(15, 188, 249);
    --color-orange: rgb(255, 168, 1);

    --px-radius: 4px;
    --px-font: 14px;
    --px-shadow: 8px;

    --opacity-blur: 0.5;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
        box-sizing: border-box;
    -webkit-user-drag: none;

    font-family: OpenSans;
    font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

::-webkit-scrollbar {
    width: 14px;
    background-color: var(--color-over);
  }
::-webkit-scrollbar-thumb {
    background-color: var(--color-over);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-input-placeholder {
    color: var(--color-top);
}

/*
.########.####.########.##.......########.########.....###....########.
....##.....##.....##....##.......##.......##.....##...##.##...##.....##
....##.....##.....##....##.......##.......##.....##..##...##..##.....##
....##.....##.....##....##.......######...########..##.....##.########.
....##.....##.....##....##.......##.......##.....##.#########.##...##..
....##.....##.....##....##.......##.......##.....##.##.....##.##....##.
....##....####....##....########.########.########..##.....##.##.....##
*/

#titlebar-icon {
    float: left;
    padding: 8px;
}

#titlebar-title {
    position: absolute;
    top: 6px;
    left: 30px;
}

#drag-zone {
    -webkit-app-region: drag;
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: calc(100% - 32px);
    z-index: -100;
}

#titlebar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 32px;
    background-color: var(--color-over);
}

#titlebar.blur #window-controls {
    opacity: 0.5;
}

/*
.##......##.####.##....##.....######...#######..##....##.########.########...#######..##........######.
.##..##..##..##..###...##....##....##.##.....##.###...##....##....##.....##.##.....##.##.......##....##
.##..##..##..##..####..##....##.......##.....##.####..##....##....##.....##.##.....##.##.......##......
.##..##..##..##..##.##.##....##.......##.....##.##.##.##....##....########..##.....##.##........######.
.##..##..##..##..##..####....##.......##.....##.##..####....##....##...##...##.....##.##.............##
.##..##..##..##..##...###....##....##.##.....##.##...###....##....##....##..##.....##.##.......##....##
..###..###..####.##....##.....######...#######..##....##....##....##.....##..#######..########..######.
*/

#window-controls {
    -webkit-app-region: no-drag;
    display: grid;
    grid-template-columns: repeat(3, 46px);
    float: right;
    height: 100%;
  }
  
  #titlebar.blur #window-controls {
    opacity: 0.5;
  }
  
  #window-controls span {
    font-family: SegMDL2;
    font-size: 10px;
  }
  
  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-top);
    transition: background-color 0.25s;
  }
  
  #window-controls .button:active {
    opacity: 0.5;
  }
  
  #window-controls #close-btn {
    grid-column: 3;
  }
  
  #window-controls #close-btn:hover {
    background-color: #E81022;
    color: white;
  }

/*
.####.##....##.########..##.....##.########
..##..###...##.##.....##.##.....##....##...
..##..####..##.##.....##.##.....##....##...
..##..##.##.##.########..##.....##....##...
..##..##..####.##........##.....##....##...
..##..##...###.##........##.....##....##...
.####.##....##.##.........#######.....##...
*/

input[type=text] {
    outline: none;
    border: none;
    color: var(--color-top);
    font-size: var(--px-font);
    height: 32px;
    padding: 8px;
    border-radius: var(--px-radius);
    background-color: transparent;
    text-align: center;
    width: calc(100% - 4px);
    margin: 2px;
  }
  
  input[type=text]:hover, input[type=text]:focus {
    background-color: var(--color-over);
  }

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

label {
    color: var(--color-top);
}

label.subtitle {
    font-size: 24px;
}

body {
    margin: 4px;
    padding: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    overflow-y: scroll;
}

.container img {
    vertical-align: middle;
}

/*
.##....##.########.##....##..######.
.##...##..##........##..##..##....##
.##..##...##.........####...##......
.#####....######......##.....######.
.##..##...##..........##..........##
.##...##..##..........##....##....##
.##....##.########....##.....######.
*/

.key-code {
    color: var(--color-top);
    display: inline-block;
    width: 168px;
    padding: 2px;
    text-align: right;
    vertical-align: middle;
}

.key-name {
    display: inline-block;
    width: calc(100% - 176px);
    vertical-align: middle;
    margin: 2px;
}

.key {
    background-color: var(--color-over);
    display: inline-block;
    padding: 2px 6px;
    border-radius: var(--px-radius);
    margin: 2px;
}

/*
.##.......####.##....##.##....##
.##........##..###...##.##...##.
.##........##..####..##.##..##..
.##........##..##.##.##.#####...
.##........##..##..####.##..##..
.##........##..##...###.##...##.
.########.####.##....##.##....##
*/

label.link {
    color: var(--color-top);
    display: inline-block;
    margin: 2px;
    padding: 2px 8px;
    border-radius: var(--px-radius);
  }
  
  label.link:hover {
    background-color: var(--color-over);
  }
  
  label.link:active {
    opacity: 0.5;
  }

/*
.########..##........#######...######..##....##
.##.....##.##.......##.....##.##....##.##...##.
.##.....##.##.......##.....##.##.......##..##..
.########..##.......##.....##.##.......#####...
.##.....##.##.......##.....##.##.......##..##..
.##.....##.##.......##.....##.##....##.##...##.
.########..########..#######...######..##....##
*/

hr {
    border: 1px solid var(--color-over);
    margin: 4px 8px;
}

.block-container, .invis-container {
    padding: 2px;
    margin: 2px;
    text-align: center;
}
  
.block-container {
    background-color: var(--color-over);
    border-radius: calc(var(--px-radius) + 4px);
}

.block-title {
    margin-top: 32px;
    text-align: center;
    padding: 4px;
}

.block-title img {
    vertical-align: middle;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/