/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
    font-family: SegMDL2;
    src: url(../fonts/SegMDL2.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-red: rgb(12, 5, 5);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 0;
  --px-font: 14px;

  --opacity-over: 0;

  --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);

  --color-back: transparent;
  --color-element: transparent;
  --color-border: transparent;
  --color-second: transparent;
  --color-top: transparent;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -webkit-user-drag: none;

    font-family: OpenSans;
    font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*
.########.####.########.##.......########.########.....###....########.
....##.....##.....##....##.......##.......##.....##...##.##...##.....##
....##.....##.....##....##.......##.......##.....##..##...##..##.....##
....##.....##.....##....##.......######...########..##.....##.########.
....##.....##.....##....##.......##.......##.....##.#########.##...##..
....##.....##.....##....##.......##.......##.....##.##.....##.##....##.
....##....####....##....########.########.########..##.....##.##.....##
*/

#titlebar-icon {
    float: left;
    padding: 8px;
}

#titlebar-title {
    position: absolute;
    top: 6px;
    left: 30px;
}

#drag-zone {
    -webkit-app-region: drag;
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: calc(100% - 32px);
    z-index: -100;
}

#titlebar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 32px;
    border-bottom: 1px solid var(--color-border);
}

/*
  ####   ####  #    # #####   ##   # #    # ###### #####
 #    # #    # ##   #   #    #  #  # ##   # #      #    #
 #      #    # # #  #   #   #    # # # #  # #####  #    #
 #      #    # #  # #   #   ###### # #  # # #      #####
 #    # #    # #   ##   #   #    # # #   ## #      #   #
  ####   ####  #    #   #   #    # # #    # ###### #    #
*/

.container {
    border: 1px solid var(--color-border);
    border-radius: calc(var(--px-radius) + 4px);
}

/*
  # #    # #####  #    # ##### 
  # ##   # #    # #    #   #   
  # # #  # #    # #    #   #   
  # #  # # #####  #    #   #   
  # #   ## #      #    #   #   
  # #    # #       ####    #   
*/

input[type=text] {
  width: calc(100% - 4px);
}

/*
.##......##.####.##....##.....######...#######..##....##.########.########...#######..##........######.
.##..##..##..##..###...##....##....##.##.....##.###...##....##....##.....##.##.....##.##.......##....##
.##..##..##..##..####..##....##.......##.....##.####..##....##....##.....##.##.....##.##.......##......
.##..##..##..##..##.##.##....##.......##.....##.##.##.##....##....########..##.....##.##........######.
.##..##..##..##..##..####....##.......##.....##.##..####....##....##...##...##.....##.##.............##
.##..##..##..##..##...###....##....##.##.....##.##...###....##....##....##..##.....##.##.......##....##
..###..###..####.##....##.....######...#######..##....##....##....##.....##..#######..########..######.
*/

#titlebar #window-controls {
    -webkit-app-region: no-drag;
    display: grid;
    grid-template-columns: repeat(3, 46px);
    float: right;
    height: 100%;
  }
  
  #titlebar #window-controls.linux {
    grid-template-columns: repeat(1, 32px);
  }
  
  #titlebar #window-controls span {
    font-family: SegMDL2;
    font-size: 10px;
  }
  
  #window-controls .title-bar-btn {
    padding: 8px;
  }
  
  #titlebar #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-top);
    transition: background-color 0.25s;
    grid-column: 3;
  }
  
  #titlebar #window-controls .title-bar-btn:hover, #titlebar #window-controls .button:hover {
    background-color: #E81022;
    color: white;
    opacity: 1 !important;
  }

  #titlebar.blur #window-controls .button, #titlebar.blur #window-controls .title-bar-btn {
    opacity: 0.5;
  }

  #titlebar #window-controls .button:active, #titlebar #window-controls .title-bar-btn:active {
    opacity: 0.5 !important;
  }

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

label {
    color: var(--color-top);
}

label.subtitle {
    font-size: 24px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-container {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    overflow-y: scroll;
    padding-bottom: 48px;
}

body.no-titlebar .container {
    top: 0;
}

.main-container img {
    vertical-align: middle;
}

/* theme icon */
.theme-icon {
    opacity: 0;
  }

/*
.##....##.########.##....##..######.
.##...##..##........##..##..##....##
.##..##...##.........####...##......
.#####....######......##.....######.
.##..##...##..........##..........##
.##...##..##..........##....##....##
.##....##.########....##.....######.
*/

.key-code {
    color: var(--color-top);
    display: inline-block;
    width: 168px;
    padding: 2px;
    text-align: right;
    vertical-align: middle;
}

.key-name {
    display: inline-block;
    width: calc(100% - 176px);
    vertical-align: middle;
    margin: 2px;
    text-align: left;
}

.key {
    background-color: var(--color-element);
    display: inline-block;
    padding: 2px 6px;
    border-radius: var(--px-radius);
    margin: 2px;
    border: 1px solid var(--color-border);
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/