/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
    font-family: SegMDL2;
    src: url(../fonts/SegMDL2.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
    --color-back: rgb(255, 255, 255);
    --color-over: rgba(0, 0, 0, 0.05);
    --color-top: rgb(0, 0, 0);
    --color-shadow: rgba(0, 0, 0, 0.5);

    --color-red: rgb(255, 63, 52);
    --color-green: rgb(11, 232, 129);
    --color-blue: rgb(15, 188, 249);
    --color-orange: rgb(255, 168, 1);

    --px-radius: 4px;
    --px-font: 14px;
    --px-shadow: 8px;

    --opacity-blur: 0.5;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
        box-sizing: border-box;
    -webkit-user-drag: none;

    font-family: OpenSans;
    font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
    from {
        opacity: 0;
        transform: scale(0.75);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*
..######...######..########...#######..##.......##.......########.....###....########.
.##....##.##....##.##.....##.##.....##.##.......##.......##.....##...##.##...##.....##
.##.......##.......##.....##.##.....##.##.......##.......##.....##..##...##..##.....##
..######..##.......########..##.....##.##.......##.......########..##.....##.########.
.......##.##.......##...##...##.....##.##.......##.......##.....##.#########.##...##..
.##....##.##....##.##....##..##.....##.##.......##.......##.....##.##.....##.##....##.
..######...######..##.....##..#######..########.########.########..##.....##.##.....##
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-over);
}

::-webkit-input-placeholder {
    color: var(--color-over);
}

/*
.########.####.########.##.......########.########.....###....########.
....##.....##.....##....##.......##.......##.....##...##.##...##.....##
....##.....##.....##....##.......##.......##.....##..##...##..##.....##
....##.....##.....##....##.......######...########..##.....##.########.
....##.....##.....##....##.......##.......##.....##.#########.##...##..
....##.....##.....##....##.......##.......##.....##.##.....##.##....##.
....##....####....##....########.########.########..##.....##.##.....##
*/

#titlebar-icon {
    float: left;
}

#titlebar-title {
    position: absolute;
    top: 6px;
    left: 32px;
}

#drag-zone {
    -webkit-app-region: drag;
    position: absolute;
    left: 4px;
    right: 4px;
    top: 4px;
    height: 28px;
    z-index: -100;
}

#titlebar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 32px;
    background-color: var(--color-over);
    padding: 4px;
}

#titlebar.blur {
    opacity: 0.5;
}

#window-controls {
    -webkit-app-region: no-drag;
    float: right;
}

#titlebar.blur #window-controls .button {
    opacity: var(--opacity-blur);
}

#window-controls.windows {
    display: grid;
    grid-template-columns: repeat(1, 46px);
    margin-top: -4px;
    margin-right: -4px;
}
#window-controls.windows .button {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#window-controls.windows .button span {
    font-family: SegMDL2;
    font-size: 10px;
    font-weight: normal;
    color: var(--color-top);
}
#window-controls.windows .button:hover {
    background: #E81123;
    opacity: 1;
}
#window-controls.windows #close-btn:hover span {
    color: white;
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

label {
    color: var(--color-top);
}

label.subtitle {
    font-size: 24px;
}

body {
    margin: 4px;
    padding: 0;
    overflow: hidden;
}

label.link {
    color: var(--color-blue);
}

label.link:hover {
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    overflow-y: scroll;
}

.container img {
    vertical-align: middle;
}

.key-code {
    display: inline-block;
    width: 128px;
}

/*
.########..##........#######...######..##....##
.##.....##.##.......##.....##.##....##.##...##.
.##.....##.##.......##.....##.##.......##..##..
.########..##.......##.....##.##.......#####...
.##.....##.##.......##.....##.##.......##..##..
.##.....##.##.......##.....##.##....##.##...##.
.########..########..#######...######..##....##
*/

hr {
    border: 1px solid var(--color-over);
    margin: 4px 8px;
}

.block-title {
    padding: 4px;
}

.block-title label {
    vertical-align: super;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/