/*
          ██████   ██████   ██████  ████████
          ██   ██ ██    ██ ██    ██    ██
          ██████  ██    ██ ██    ██    ██
          ██   ██ ██    ██ ██    ██    ██
          ██   ██  ██████   ██████     ██
*/

:root {
  --color-back: #3A404C;
  --color-back-overlight: rgba(0, 0, 0, 0.25);
  --color-back-overdark: rgba(0, 0, 0, 0.5);

  --color-top: white;
  --color-top-overlight: rgba(255, 255, 255, 0.25);
  --color-top-overdark: rgba(255, 255, 255, 0.5);

  --color-red: #DA231B;
  --color-green: #0AB783;
  --color-blue: #0085FF;
  --color-orange: #CE8627;
}

* {
	box-sizing: border-box;

  font-family: "Century Gothic";
  font-weight: bold;
  color: var(--color-top);
}

/*
          ███    ███  █████  ██ ███    ██
          ████  ████ ██   ██ ██ ████   ██
          ██ ████ ██ ███████ ██ ██ ██  ██
          ██  ██  ██ ██   ██ ██ ██  ██ ██
          ██      ██ ██   ██ ██ ██   ████
*/

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-back);
  min-width: 1280px;
}

a {
  text-decoration: none;
}

label {
  padding: 8px;
}

.container {
  position: relative;
  min-height: calc(100vh - 280px);
}

/*
          ████████  █████  ██████  ██      ███████ ███████
             ██    ██   ██ ██   ██ ██      ██      ██
             ██    ███████ ██████  ██      █████   ███████
             ██    ██   ██ ██   ██ ██      ██           ██
             ██    ██   ██ ██████  ███████ ███████ ███████
*/


label.title {
  font-size: 48px;
}

label.subtitle {
  font-size: 24px;
}

.title-table td {
  padding: 16px;
}

.page-table td {
  width: 50%;
  padding: 16px;
}

.page-table td.left {
  text-align: left;
}

.page-table td.right {
  text-align: right;
}

.app-icon {
  border: 8px var(--color-top) solid;
  border-radius: 4px;
  margin: 8px;
  float: left;
  box-shadow: 0 0 8px var(--color-back-overdark);
  background-color: var(--color-top);
}

.page-img {
  padding: 16px;
  filter: drop-shadow(0 0 8px var(--color-back-overdark));
}

hr {
  margin: 64px;
  border: solid 2px var(--color-top-overlight);
}

.page-table td img {
  border: 4px dotted var(--color-top-overlight);
}

/*
          ████████ ██ ██      ███████
             ██    ██ ██      ██
             ██    ██ ██      █████
             ██    ██ ██      ██
             ██    ██ ███████ ███████
*/

.home-icon {
  border-radius: 4px;
  box-shadow: 0 0 8px var(--color-back-overdark);
}

.tile {
  width: 400px;
  background-color: var(--color-top);
  border-radius: 4px;
  box-shadow: 0 0 8px var(--color-back-overdark);
  padding: 8px;
  cursor: pointer;
  transition: 0.25s;
  margin: 8px;
}

.tile:hover {
  transform: translateY(-8px);
}

.header {
  padding-top: 32px;
}

.tile label {
  color: var(--color-back);
  cursor: pointer;
  margin: 8px;
}

.tile .icon {
  float: left;
}

.tile .platform {
  margin: 0;
  margin-top: -8px;
  padding: 8px 8px 0 0;
  float: right;
}

.tile .preview {
  filter: drop-shadow(0 0 8px var(--color-back-overdark));
  margin: 12px;
  margin-top: 20px;
}

/*
          ███    ██  █████  ██    ██ ██████   █████  ██████       █████  ███    ██ ██████      ███████  ██████   ██████  ████████ ███████ ██████
          ████   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██     ██   ██ ████   ██ ██   ██     ██      ██    ██ ██    ██    ██    ██      ██   ██
          ██ ██  ██ ███████ ██    ██ ██████  ███████ ██████      ███████ ██ ██  ██ ██   ██     █████   ██    ██ ██    ██    ██    █████   ██████
          ██  ██ ██ ██   ██  ██  ██  ██   ██ ██   ██ ██   ██     ██   ██ ██  ██ ██ ██   ██     ██      ██    ██ ██    ██    ██    ██      ██   ██
          ██   ████ ██   ██   ████   ██████  ██   ██ ██   ██     ██   ██ ██   ████ ██████      ██       ██████   ██████     ██    ███████ ██   ██
*/

#navbar {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: var(--color-back-overlight);
  margin-bottom: 64px;
}

.navbar-links {
  height: inherit;
  float: right;
}

.navbar-btn {
  width: 244px;
}

.navbar-btn, .navbar-links-btn {
  padding: 24px;
  display: inline-block;
  transition: 0.25s;
  cursor: pointer;
  vertical-align: middle;
  color: var(--color-top);
}

.navbar-logo {
  cursor: pointer;
  background-color: var(--color-top);
  display: inline-block;
  border-radius: 0 32px 32px 0;
  margin: 8px 8px 8px 0;
  vertical-align: middle;
  transition: 0.25s;
  box-shadow: 0 0 8px var(--color-dark-overdark);
  background-image: linear-gradient(to right, rgb(38, 131, 226), rgb(75, 212, 227));
}

.navbar-logo:hover {
  transform: translateX(-8px);
}

.navbar-logo img {
  padding: 12px 32px 12px 12px;
}

.navbar-btn:hover, .navbar-links-btn:hover {
  transform: translateY(-8px);
}

.navbar-btn-label {
  cursor: pointer;
  vertical-align: super;
  padding: 8px 4px;
}

.navbar-btn-expand {
  float: right;
  transition: 0.25s;
}

.navbar-btn:hover .navbar-btn-expand {
  transform: scaleY(-1);
}

.navbar-btn-tooltip {
  opacity: 0;
  position: absolute;
  background-color: var(--color-top);
  width: 192px;
  height: inherit;
  transition: 0.25s;
  border-radius: 4px;
  top: 72px;
  box-shadow: 0 0 8px var(--color-back-overdark);
}

.navbar-btn-tooltip::after {
  content: "";
  position: absolute;
  top: -16px;
  left: 32px;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--color-top) transparent;
}

.navbar-btn.bottom .navbar-btn-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 32px;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--color-top) transparent transparent transparent;
}

.navbar-btn.bottom .navbar-btn-tooltip {
  bottom: 72px;
  top: auto;
}

.navbar-btn.right {
  float: right;
}

.navbar-btn:hover .navbar-btn-tooltip {
  opacity: 1;
}

.navbar-btn-tooltip-item {
  display: none;
  transition: 0.25s;
  padding: 12px 16px 8px 16px;
  color: black;
}

.navbar-btn:hover .navbar-btn-tooltip-item {
  display: block;
}

.navbar-btn-tooltip-item:hover {
  transform: translateX(8px);
  cursor: pointer;
}

.navbar-btn-tooltip-item label {
  cursor: pointer;
  color: var(--second-color);
  vertical-align: super;
}

footer {
  position: relative;
  background-color: var(--color-back-overlight);
  margin-top: 64px;
}

/*
          ██████  ██    ██ ████████ ████████  ██████  ███    ██
          ██   ██ ██    ██    ██       ██    ██    ██ ████   ██
          ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██
          ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██
          ██████   ██████     ██       ██     ██████  ██   ████
*/

.btn-label {
  vertical-align: super;
  cursor: pointer;
}

.btn.colored .btn-label {
  color: var(--color-back-overdark);
}

.btn-body {
  padding: 6px;
  display: inline-block;
  height: 32px;
  vertical-align: top;
  border-radius: 0 4px 4px 0;
  padding-left: 0;
}

.btn.colored .btn-body {
  background-color: var(--color-top-overdark);
  padding-left: 6px;
}

.btn {
  border-radius: 4px;
  margin: 8px;
  transition: 0.25s;
  display: inline-block;
}

.btn {
  padding: 0;
  height: 32px;
}

.btn-icon {
  padding: 4px;
  padding-right: 0;
}

.btn.colored {
  box-shadow: 0 0 8px var(--color-back-overdark);
}

.btn.colored .btn-icon {
  opacity: 0.5;
}

.btn:hover {
  opacity: 0.25;
}

.btn.green {
  background-color: var(--color-green);
}

.btn.red {
  background-color: var(--color-red);
}

.btn.blue {
  background-color: var(--color-blue);
}
