/*
 #####   ####   ####  #####
 #    # #    # #    #   #
 #    # #    # #    #   #
 #####  #    # #    #   #
 #   #  #    # #    #   #
 #    #  ####   ####    #
*/

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
  
:root{
    --color-red: rgb(255, 63, 52);
    --color-green: rgb(11, 232, 129);
    --color-blue: rgb(15, 188, 249);
    --color-orange: rgb(255, 168, 1);
  
    --px-radius: 0;
    --px-font: 14px;
  
    --opacity-over: 0;
  
    --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);
  
    --color-back: transparent;
    --color-element: transparent;
    --color-border: transparent;
    --color-second: transparent;
    --color-top: transparent;
}
  
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      box-sizing: border-box;
    -webkit-user-drag: none;
  
    font-family: OpenSans;
    font-size: var(--px-font);
}

/*
 #####   ####  #####  #   #
 #    # #    # #    #  # #
 #####  #    # #    #   #
 #    # #    # #    #   #
 #    # #    # #    #   #
 #####   ####  #####    #
*/

body {
    background-color: var(--color-back);
    overflow: hidden;
    text-align: center;
    margin: 0;
    border: 1px solid var(--color-border);
    border-top: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#body-container {
    overflow: auto;
    padding: 64px;
    padding-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#body-container::before, #body-container::after {
    content: "";
    position: fixed;
    top: 0;
    left: 16px;
    right: 16px;
    height: 40px;
    background: linear-gradient(var(--color-back), transparent);
    pointer-events: none;
    z-index: 1000;
}

#body-container::after {
    top: auto;
    bottom: 1px;
    background: linear-gradient(transparent, var(--color-back));
}

main {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    padding: 0;
}

/*
 #####  #       ####   ####  #    #  ####
 #    # #      #    # #    # #   #  #
 #####  #      #    # #      ####    ####
 #    # #      #    # #      #  #        #
 #    # #      #    # #    # #   #  #    #
 #####  ######  ####   ####  #    #  ####
*/

.block-container {
    padding: 2px;
}

.block-title {
    text-align: left;
    padding: 16px 0;
    padding-bottom: 4px;
    margin: 4px;
    margin-top: 48px;
}

.block-title label {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 20px;
    color: var(--color-top);
}

.block-icon {
    vertical-align: middle;
    margin-left: 4px;
}

.block-buttons {
    float: right;
}

.block-buttons .nav-btn {
    margin: 0;
}

.block-title-vr {
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: var(--color-border);
    margin: 9px 5px;
    vertical-align: top;
}

/*
  ####  ######   ##   #####   ####  #    #
 #      #       #  #  #    # #    # #    #
  ####  #####  #    # #    # #      ######
      # #      ###### #####  #      #    #
 #    # #      #    # #   #  #    # #    #
  ####  ###### #    # #    #  ####  #    #
*/

#clear-search-btn.show {
    transform: scale(1);
}
  
#clear-search-btn {
    right: 43px;
    top: 7px;
    outline: none;
    display: inline-block;
    color: var(--color-top);
    background: none;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: var(--px-radius);
    position: absolute;
    border: 1px solid transparent;
    transition: transform 0.25s;
    transform: scale(0);
}
  
#clear-search-btn:after {
    content: '';
    height: 12px;
    border-left: 2px solid var(--color-top);
    position: absolute;
    transform: rotate(45deg);
    left: 9px;
    top: 4px;
}
  
#clear-search-btn:before {
    content: '';
    height: 12px;
    border-left: 2px solid var(--color-top);
    position: absolute;
    transform: rotate(-45deg);
    top: 4px;
    left: 9px;
}
  
#clear-search-btn:hover {
    background-color: var(--color-second);
    border-color: var(--color-border);
}
  
#clear-search-btn:focus {
    box-shadow: var(--shadow-focus);
}
  
#clear-search-btn:active {
    background-color: var(--color-border);
}

#search-icon {
    padding: 7px;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin: 2px;
    border: 1px dashed var(--color-border);
    border-radius: var(--px-radius)
}

.search-div {
    display: flex;
    position: relative;
}

.search-div input {
    flex: 1;
}

#search-suggest {
    animation-name: slide-down;
    animation-duration: 0.25s;
    border-radius: calc(var(--px-radius) + 4px);
    background-color: var(--color-back);
    border: 1px solid var(--color-border);
    transition: 0.25s;
    margin: 2px;
}
  
#search-suggest.hide {
    opacity: 0;
    transform: translateY(-40px);
}
  
#search-suggest-container {
    text-align: center;
    border-bottom: 1px solid var(--color-border);
}
  
#search-suggest-container input {
    outline: none;
    width: 100%;
    display: block;
    margin: 0;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-radius: 0;
    height: 32px;
    color: var(--color-top);
}
  
#search-suggest-container input:first-child {
    border-top: none;
    border-radius: calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px) 0 0;
}
  
#search-suggest-container input:last-child {
    border-bottom: none;
}

#search-suggest-container input:hover {
    text-decoration: underline;
}

#search-suggest-container input:active {
    opacity: var(--opacity-over);
}
  
#search-suggest-container input.active {
    border-color: var(--color-border);
    background-color: var(--color-element);
    opacity: 1;
}
  
#search-engines {
    display: block;
    margin: 2px;
    text-align: center;
} 

/*
 #####   ####   ####  #    # #    #   ##   #####  #    #  ####
 #    # #    # #    # #   #  ##  ##  #  #  #    # #   #  #
 #####  #    # #    # ####   # ## # #    # #    # ####    ####
 #    # #    # #    # #  #   #    # ###### #####  #  #        #
 #    # #    # #    # #   #  #    # #    # #   #  #   #  #    #
 #####   ####   ####  #    # #    # #    # #    # #    #  ####
*/

#bookmarks-container {
    margin: -2px;
    text-align: left;
    position: relative;
}

.folder-move {
    position: absolute;
    left: 7px;
    top: 7px;
    display: none;
}

.folder-move:hover {
    cursor: move;
}

#bookmarks-container.movable .folder-move {
    display: block;
}

#bookmarks-container.movable .folder-header .nav-btn {
    display: none;
}

#bookmarks-container.movable .folder-name {
    left: 24px;
}

#bookmarks-container.movable .bookmark-icon {
    opacity: 0;
}

#bookmarks-container.movable .bookmark-move {
    display: block;
    z-index: 100;
}

.folder {
    margin: 4px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: left;
    width: calc(100% - 8px);
}

.folder-header {
    height: 32px;
    position: relative;
    border-bottom: 1px dashed var(--color-border);
    margin: 8px 0;
}

.folder-header .nav-btn {
    animation: append-center;
    animation-duration: 0.25s;
    position: absolute;
    top: -2px;
    display: none;
    border-radius: var(--px-radius) var(--px-radius) 0 0;
}

.folder-header .add-bookmark-btn {
    right: 28px;
}

.folder-header .open-all-btn {
    right: -2px;
}

.folder-header .edit-folder-btn {
    right: 60px;
}

.folder-header:hover .nav-btn {
    display: inline-block;
}

.folder-name {
    color: var(--color-top);
    padding: 5px;
    transition: right 0.25s;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.folder-header:hover .folder-name {
    right: 63px;
}

.folder.editable .folder-header:hover .folder-name {
    right: 94px;
}

.folder-container {
    margin: -4px;
}

.folder-container:empty::before {
    content: "\2205  No bookmarks... Try to create one...";
    color: var(--color-top);
    display: block;
    margin: 8px 4px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
}

.folder-editor {
    margin-bottom: -1px;
    border: 1px solid var(--color-border);
    background-color: var(--color-titlebar);
    padding: 2px;
    border-radius: calc(var(--px-radius) + 4px);
    text-align: center;
    margin: 4px;
    margin-top: 12px;
}

.folder.gu-mirror {
    opacity: 1;
}

.folder.gu-mirror .bookmark {
    box-shadow: 0 0 4px rgba(0, 0, 0, var(--opacity-over));
}

.folder.gu-mirror .nav-btn {
    display: none;
}

.bookmark {
    border: 1px solid var(--color-border);
    height: 32px;
    margin: 4px;
    border-radius: calc(var(--px-radius) + 4px);
    position: relative;
    outline: none;
    padding: 0;
    vertical-align: top;
    background-color: var(--color-element);
    width: calc(20% - 8px);
    text-align: left;
}

.bookmark:focus {
    box-shadow: var(--shadow-focus);
}

.bookmark-icon {
    padding: 7px;
    position: absolute;
    left: 0;
    top: 0;
}

.bookmark-name {
    color: var(--color-top);
    top: 5px;
    transition: font-size 0.25s, top 0.25s;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    right: 32px;
    left: 32px;
}

.bookmark-move {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
    display: none;
}

.bookmark-move:hover {
    cursor: move;
}

.bookmark-options {
    transform: scale(0);
    position: absolute;
    right: 4px;
    top: 4px;
    width: 22px;
    height: 22px;
    background: none;
    border: 1px solid var(--color-border);
    padding: 0 2px;
    border-radius: 50%;
    outline: none;
    transition: transform 0.25s;
    background-color: var(--color-element);
}

.bookmark-options:hover {
    background-color: var(--color-second);
}

.bookmark-options:active {
    background-color: var(--color-border);
}

.bookmark-options:focus {
    box-shadow: var(--shadow-focus);
}

.bookmark:hover .bookmark-options, .bookmark-options:focus {
    transform: scale(1);
}

.bookmark-menu {
    margin-top: 30px;
    display: none;
    text-align: center;
    padding: 2px;
}

.bookmark-menu .nav-btn {
    width:  calc(100% - 4px);
}

.bookmark.show-menu, .bookmark.show-editor {
    height: auto;
}

.bookmark.show-menu .bookmark-menu {
    display: block;
}

.bookmark-editor {
    display: block;
    padding: 2px;
    text-align: center;
    margin-top: 30px;
}

.bookmark-editor input, .folder-editor input, .bookmark-editor button {
    width: calc(100% - 4px);
}

.folder-editor button {
    width: calc(50% - 4px);
}

.bookmark.gu-mirror {
    opacity: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, var(--opacity-over));
}

/*
 #    # #  ####  #####  ####  #####  #   #
 #    # # #        #   #    # #    #  # #
 ###### #  ####    #   #    # #    #   #
 #    # #      #   #   #    # #####    #
 #    # # #    #   #   #    # #   #    #
 #    # #  ####    #    ####  #    #   #
*/

#history-container {
    margin: -2px;
    text-align: left;
}

#history-container:empty::before {
    content: "\2205  History is empty... Try to visit something...";
    margin: 4px;
    border: 1px dashed var(--color-border);
    padding: 4px;
    border-radius: var(--px-radius);
    display: block;
    text-align: center;
    color: var(--color-top);
}

.history-item {
    margin: 4px;
    width: calc(20% - 8px);
    border-radius: calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    outline: none;
    position: relative;
    text-align: left;
    height: 62px;
    display: inline-block;
    vertical-align: top;
    color: var(--color-top);
}

.history-item:focus {
    box-shadow: var(--shadow-focus);
}

.history-checkbox {
    -webkit-appearance: none;
}

.history-checkbox::after {
    position: absolute;
    width: 16px;
    height: 16px;
    content: "";
    top: 4px;
    left: 4px;;
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    border-radius: var(--px-radius);
    transform: scale(0);
    transition: transform 0.25s;
    color: var(--color-top);
    padding-left: 4px;
    padding-bottom: 4px;
}

.history-checkbox:focus::after {
    box-shadow: var(--shadow-focus);
}

.history-checkbox:hover::after {
    background-color: var(--color-second);
}

.history-checkbox:active::after {
    background-color: var(--color-border);
}

.history-checkbox:checked::after {
    content: "\2713";
    font-weight: bold;
    font-size: 16px;
}

.history-item:hover .history-checkbox::after, .history-checkbox:checked::after, .history-checkbox:focus::after {
    transform: scale(1);
}

.history-icon {
    position: absolute;
    top: 7px;
    left: 7px;
}

.history-url {
    position: absolute;
    top: 26px;
    right: 7px;
    left: 7px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    font-size: 10px;
    opacity: var(--opacity-over);
    margin-bottom: 32px;
}

.history-time {
    position: absolute;
    top: 42px;
    right: 7px;
    left: 7px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    font-size: 10px;
    opacity: var(--opacity-over);
}

.history-title {
    position: absolute;
    right: 7px;
    top: 5px;
    left: 30px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.history-item:hover .history-title {
    right: 28px;
}

.history-copy {
    transform: scale(0);
    position: absolute;
    right: 4px;
    top: 4px;
    width: 22px;
    height: 22px;
    background: none;
    border: 1px solid var(--color-border);
    padding: 0 2px;
    border-radius: var(--px-radius);
    outline: none;
    transition: transform 0.25s;
    background-color: var(--color-element);
}

.history-copy:hover {
    background-color: var(--color-second);
}

.history-copy:active {
    background-color: var(--color-border);
}

.history-copy:focus {
    box-shadow: var(--shadow-focus);
}

.history-item:hover .history-copy, .history-copy:focus {
    transform: scale(1);
}

/*
 #####   ####  #    # #    # #       ####    ##   #####   ####
 #    # #    # #    # ##   # #      #    #  #  #  #    # #
 #    # #    # #    # # #  # #      #    # #    # #    #  ####
 #    # #    # # ## # #  # # #      #    # ###### #    #      #
 #    # #    # ##  ## #   ## #      #    # #    # #    # #    #
 #####   ####  #    # #    # ######  ####  #    # #####   ####
*/

#downloads-container {
    margin: -2px;
    text-align: left;
}

#downloads-container:empty::before {
    content: "\2205  No downloads... Try to download something...";
    margin: 4px;
    border: 1px dashed var(--color-border);
    padding: 4px;
    border-radius: var(--px-radius);
    display: block;
    text-align: center;
    color: var(--color-top);
}

.download-item {
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin: 4px;
    width: calc(20% - 8px);
    border-radius: calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    text-align: center;
    color: var(--color-top);
}

hr {
    border: 0.5px solid var(--color-border);
    margin: 0;
    margin-top: 7px;
}

.download-buttons {
    padding: 4px;
    text-align: center;
}

.download-buttons .nav-btn {
    margin: 0;
}

.download-icon {
    position: absolute;
    top: 7px;
    left: 7px;
}

.download-status, .download-time {
    display: block;
    margin: 2px 7px;
}

.download-time {
    font-size: 10px;
    opacity: var(--opacity-over);
    user-select: all;
    margin: 0;
    cursor: text;
}

.download-name {
    text-align: left;
    right: 7px;
    top: 5px;
    left: 30px;
    user-select: all;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    cursor: text;
}

.download-url {
    top: 26px;
    right: 7px;
    left: 7px;
    font-size: 10px;
    opacity: var(--opacity-over);
    user-select: all;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    cursor: text;
    text-align: left;
}

/*                                                     
   ####   ####  #      #      ######  ####  ##### #  ####  #    #  ####  
  #    # #    # #      #      #      #    #   #   # #    # ##   # #      
  #      #    # #      #      #####  #        #   # #    # # #  #  ####  
  #      #    # #      #      #      #        #   # #    # #  # #      # 
  #    # #    # #      #      #      #    #   #   # #    # #   ## #    # 
   ####   ####  ###### ###### ######  ####    #   #  ####  #    #  ####  
*/

#collections {
    text-align: left;
    padding: 2px;
}

.collection {
    display: inline-block;
    width: calc(25% - 7px);
    border: 1px solid var(--color-border);
    border-radius: var(--px-radius);
    height: 32px;
    padding: 7px 16px;
    margin: 2px;
    outline: none;
    text-align: left;
    background-color: var(--color-element);
    position: relative;
}

.collection-divider {
    display: none;
    border-top: 1px dashed var(--color-border);
    margin: 6px 0;
}

.collection:focus {
    box-shadow: var(--shadow-focus);
}

.collection::before {
    position: absolute;
    top: 11px;
    left: auto;
    right: 12px;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-top);
    display: none;
}

.collection:hover::before {
    display: block;
    opacity: var(--opacity-over);
}

.collection.active::before {
    display: block;
    opacity: 1;
}

.collection-name {
    transition: left 0.25s;
    position: absolute;
    left: 50px;
    right: 32px;
    top: 5px;
    vertical-align: middle;
    color: var(--color-top);
    margin-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.collection-icon {
    margin-bottom: -1px;
}

.collection.green {
    background-color: rgba(11, 232, 129, 0.25);
}

.collection.blue {
    background-color: rgba(15, 188, 249, 0.25);
}

.collection.orange {
    background-color: rgba(255, 168, 1, 0.25);
}

.collection.red {
    background-color: rgba(255, 63, 52, 0.25);
}

.collection.active {
    background-color: transparent;
    border-style: dashed;
    box-shadow: none;
}

/*                  
  #    # ###### #####  #   ##   
  ##  ## #      #    # #  #  #  
  # ## # #####  #    # # #    # 
  #    # #      #    # # ###### 
  #    # #      #    # # #    # 
  #    # ###### #####  # #    # 
*/

@media only screen and (max-width: 1000px) {
    .history-item, .download-item, .bookmark {
        width: calc(25% - 8px);
    }
}

@media only screen and (max-width: 700px) {
    #body-container {
        padding: 32px;
        padding-top: 0;
    }

    .history-item, .download-item, .bookmark  {
        width: calc(50% - 8px);
    }
}

@media only screen and (max-width: 500px) {
    #clear-search-btn {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    #collections {
        position: fixed;
        left: 128px;
        top: 0;
        width: 256px;
    }

    .collection {
        display: block;
        width: 50px;
        margin: 6px 0;
    }

    .collection-divider {
        display: block;
    }

    .collection-name {
        width: 192px;
    }

    .collection::before {
        left: -20px;
        right: auto;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1700px) {
    main {
        margin-right: 64px;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 1850px) {
    main {
        margin-right: 128px;
    }
}

@media only screen and (min-width: 1850px) and (max-width: 2200px) {
    main {
        margin-right: 256px;
    }
}

/*
 ##### #    # ######    ###### #    # #####
   #   #    # #         #      ##   # #    #
   #   ###### #####     #####  # #  # #    #
   #   #    # #         #      #  # # #    #
   #   #    # #         #      #   ## #    #
   #   #    # ######    ###### #    # #####
*/