/*
 #####   ####   ####  #####
 #    # #    # #    #   #
 #    # #    # #    #   #
 #####  #    # #    #   #
 #   #  #    # #    #   #
 #    #  ####   ####    #
*/

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
  
:root{
    --color-red: rgb(255, 63, 52);
    --color-green: rgb(11, 232, 129);
    --color-blue: rgb(15, 188, 249);
    --color-orange: rgb(255, 168, 1);
  
    --px-radius: 0;
    --px-font: 14px;
  
    --opacity-over: 0;
  
    --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);
  
    --color-back: transparent;
    --color-element: transparent;
    --color-border: transparent;
    --color-second: transparent;
    --color-top: transparent;
}
  
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      box-sizing: border-box;
    -webkit-user-drag: none;
  
    font-family: OpenSans;
    font-size: var(--px-font);
}

/*
 #####   ####  #####  #   #
 #    # #    # #    #  # #
 #####  #    # #    #   #
 #    # #    # #    #   #
 #    # #    # #    #   #
 #####   ####  #####    #
*/

body {
    background-color: var(--color-back);
    padding: 64px;
    text-align: center;
    margin: 0;
}

main {
    max-width: 800px;
    text-align: center;
    margin: auto;
    padding: 0;
}

/*
 #####  #       ####   ####  #    #  ####
 #    # #      #    # #    # #   #  #
 #####  #      #    # #      ####    ####
 #    # #      #    # #      #  #        #
 #    # #      #    # #    # #   #  #    #
 #####  ######  ####   ####  #    #  ####
*/

.block-container {
    padding: 2px;
}

.block-title {
    text-align: left;
    padding: 16px 0;
    padding-bottom: 4px;
    margin: 4px;
    margin-top: 32px;
}

.block-title label {
    vertical-align: middle;
    margin-left: 8px;
    font-size: 20px;
    color: var(--color-top);
}

.block-title img {
    vertical-align: middle;
}

.block-buttons {
    float: right;
}

.block-buttons .nav-btn {
    margin: 0;
}

.block-title-vr {
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: var(--color-border);
    margin: 9px 5px;
    vertical-align: top;
}

/*
  ####  ######   ##   #####   ####  #    #
 #      #       #  #  #    # #    # #    #
  ####  #####  #    # #    # #      ######
      # #      ###### #####  #      #    #
 #    # #      #    # #   #  #    # #    #
  ####  ###### #    # #    #  ####  #    #
*/

#clear-search-btn.show {
    transform: scale(1);
}
  
#clear-search-btn {
    right: 43px;
    top: 7px;
    outline: none;
    display: inline-block;
    color: var(--color-top);
    background: none;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: var(--px-radius);
    position: absolute;
    border: 1px solid transparent;
    transition: transform 0.25s;
    transform: scale(0);
}
  
#clear-search-btn:after {
    content: '';
    height: 12px;
    border-left: 2px solid var(--color-top);
    position: absolute;
    transform: rotate(45deg);
    left: 9px;
    top: 4px;
}
  
#clear-search-btn:before {
    content: '';
    height: 12px;
    border-left: 2px solid var(--color-top);
    position: absolute;
    transform: rotate(-45deg);
    top: 4px;
    left: 9px;
}
  
#clear-search-btn:hover {
    background-color: var(--color-second);
    border-color: var(--color-border);
}
  
#clear-search-btn:focus {
    box-shadow: var(--shadow-focus);
    transform: scale(1);
}
  
#clear-search-btn:active {
    background-color: var(--color-border);
}

#search-icon {
    padding: 7px;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin: 2px;
    border: 1px solid var(--color-border);
    border-radius: var(--px-radius)
}

.search-div {
    display: flex;
    position: relative;
}

.search-div input {
    flex: 1;
}

#search-suggest {
    animation-name: slide-down;
    animation-duration: 0.25s;
    border-radius: calc(var(--px-radius) + 4px);
    background-color: var(--color-back);
    border: 1px solid var(--color-border);
    transition: 0.25s;
    margin: 2px;
}
  
#search-suggest.hide {
    opacity: 0;
    transform: translateY(-40px);
}
  
#search-suggest-container {
    text-align: center;
    border-bottom: 1px solid var(--color-border);
}
  
#search-suggest-container input {
    outline: none;
    width: 100%;
    display: block;
    margin: 0;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    border-radius: 0;
    height: 32px;
    color: var(--color-top);
}
  
#search-suggest-container input:first-child {
    border-top: none;
    border-radius: calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px) 0 0;
}
  
#search-suggest-container input:last-child {
    border-bottom: none;
}

#search-suggest-container input:hover {
    text-decoration: underline;
}

#search-suggest-container input:active {
    opacity: var(--opacity-over);
}
  
#search-suggest-container input.active {
    border-color: var(--color-border);
    background-color: var(--color-element);
    opacity: 1;
}
  
#search-engines {
    display: block;
    margin: 2px;
    text-align: center;
} 

/*
 #####   ####   ####  #    # #    #   ##   #####  #    #  ####
 #    # #    # #    # #   #  ##  ##  #  #  #    # #   #  #
 #####  #    # #    # ####   # ## # #    # #    # ####    ####
 #    # #    # #    # #  #   #    # ###### #####  #  #        #
 #    # #    # #    # #   #  #    # #    # #   #  #   #  #    #
 #####   ####   ####  #    # #    # #    # #    # #    #  ####
*/

#bookmarks-container {
    margin: -2px;
    text-align: left;
    position: relative;
}

.folder-move {
    position: absolute;
    left: 7px;
    top: 7px;
    display: none;
}

.folder-move:hover {
    cursor: move;
}

#bookmarks-container.movable .folder-move {
    display: block;
}

#bookmarks-container.movable .folder-name {
    left: 24px;
}

#bookmarks-container.movable .bookmark-icon {
    opacity: 0;
}

#bookmarks-container.movable .bookmark-move {
    display: block;
}

.folder {
    width: 192px;
    margin: 4px;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.folder-header {
    border-radius: calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px) 0 0;
    border: 1px solid var(--color-border);
    height: 32px;
    background-color: var(--color-element);
    position: relative;
    text-align: center;
}

.folder-header .nav-btn {
    position: absolute;
    top: -3px;
    display: none;
}

.folder-header .add-bookmark-btn {
    right: 28px;
    border-radius: 0;
}

.folder-header .open-all-btn {
    right: -3px;
    border-radius: 0 calc(var(--px-radius) + 4px) 0 0;
}

.folder-header .edit-folder-btn {
    right: 59px;
    border-radius: 0;
}

.folder-header:hover .nav-btn {
    display: inline-block;
}

.folder-name {
    color: var(--color-top);
    padding: 5px;
    transition: right 0.25s;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.folder-header:hover .folder-name {
    right: 63px;
}

.folder.editable .folder-header:hover .folder-name {
    right: 94px;
}

.folder-container:empty::before {
    content: "\2205  No bookmarks... Try to create one...";
    color: var(--color-top);
    display: block;
    margin-top: -1px;;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 0 0 calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
}

.folder-editor {
    margin-bottom: 4px;
    border: 1px solid var(--color-border);
    background-color: var(--color-back);
    padding: 2px;
    border-radius: calc(var(--px-radius) + 4px);
    text-align: center;
}

.bookmark {
    background-color: var(--color-element);
    border: 1px solid var(--color-border);
    margin: 0;
    margin-top: -1px;
    width: 100%;
    height: 32px;
    text-align: left;
    position: relative;
    display: block;
    outline: none;
    padding: 0;
}

.bookmark:focus {
    box-shadow: var(--shadow-focus);
}

.bookmark:last-child {
    border-radius: 0 0 calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px);
}

.bookmark-icon {
    padding: 3px 6px;
    display: inline-block;
    vertical-align: top;
}

.bookmark-name {
    color: var(--color-top);
    top: 5px;
    transition: font-size 0.25s, top 0.25s;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    right: 28px;
    left: 28px;
}

.bookmark:hover .bookmark-name {
    font-size: 12px;
    top: 0;
}

.bookmark-move {
    position: absolute;
    left: 6px;
    top: 7px;
    display: none;
}

.bookmark-move:hover {
    cursor: move;
}

.bookmark-preview {
    opacity: 0;
    font-size: 10px;
    transition: opacity 0.25s;
    position: absolute;
    top: 14px;
    color: var(--color-top);
    left: 28px;
    right: 28px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.bookmark:hover .bookmark-preview {
    opacity: var(--opacity-over);
}

.bookmark-options {
    transform: scale(0);
    position: absolute;
    right: 4px;
    top: 4px;
    width: 22px;
    height: 22px;
    background: none;
    border: 1px solid var(--color-border);
    padding: 0 2px;
    border-radius: var(--px-radius);
    outline: none;
    transition: transform 0.25s;
    background-color: var(--color-element);
}

.bookmark-options:hover {
    background-color: var(--color-second);
}

.bookmark-options:active {
    background-color: var(--color-border);
}

.bookmark-options:focus {
    box-shadow: var(--shadow-focus);
}

.bookmark:hover .bookmark-options, .bookmark-options:focus {
    transform: scale(1);
}

.bookmark-menu {
    display: none;
    padding: 2px;
    text-align: center;
}

.bookmark.show-menu, .bookmark.show-editor {
    height: auto;
}

.bookmark.show-menu .bookmark-menu {
    display: block;
}

.bookmark.show-menu .bookmark-icon, .bookmark.show-editor .bookmark-icon {
    padding: 7px 6px;
}

.bookmark-editor {
    display: block;
    padding: 2px;
    text-align: center;
}

.bookmark-editor input, .folder-editor input {
    width: calc(100% - 4px);
}

.bookmark-editor button, .folder-editor button {
    width: calc(50% - 4px);
}

/*
 #    # #  ####  #####  ####  #####  #   #
 #    # # #        #   #    # #    #  # #
 ###### #  ####    #   #    # #    #   #
 #    # #      #   #   #    # #####    #
 #    # # #    #   #   #    # #   #    #
 #    # #  ####    #    ####  #    #   #
*/

#history-container {
    margin: -2px;
    text-align: left;
}

#history-container:empty::before {
    content: "\2205  History is empty... Try to visit something...";
    margin: 4px;
    border: 1px solid var(--color-border);
    padding: 4px;
    border-radius: var(--px-radius);
    display: block;
    text-align: center;
}

.history-item {
    margin: 4px;
    width: 192px;
    border-radius: calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    outline: none;
    position: relative;
    text-align: left;
    height: 46px;
    display: inline-block;
    vertical-align: top;
    color: var(--color-top);
}

.history-item:focus {
    box-shadow: var(--shadow-focus);
}

.history-checkbox {
    -webkit-appearance: none;
}

.history-checkbox::after {
    position: absolute;
    width: 16px;
    height: 16px;
    content: "";
    top: 4px;
    left: 4px;;
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    border-radius: var(--px-radius);
    transform: scale(0);
    transition: transform 0.25s;
    color: var(--color-top);
    padding-left: 4px;
    padding-bottom: 4px;
}

.history-checkbox:focus::after {
    box-shadow: var(--shadow-focus);
}

.history-checkbox:hover::after {
    background-color: var(--color-second);
}

.history-checkbox:active::after {
    background-color: var(--color-border);
}

.history-checkbox:checked::after {
    content: "\2713";
    font-weight: bold;
    font-size: 16px;
}

.history-item:hover .history-checkbox::after, .history-checkbox:checked::after, .history-checkbox:focus::after {
    transform: scale(1);
}

.history-icon {
    position: absolute;
    top: 7px;
    left: 7px;
}

.history-url {
    position: absolute;
    top: 26px;
    right: 7px;
    left: 7px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    font-size: 10px;
    opacity: var(--opacity-over);
    margin-bottom: 16px;
}

.history-title {
    position: absolute;
    right: 7px;
    top: 5px;
    left: 30px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.history-item:hover .history-title {
    right: 28px;
}

.history-copy {
    transform: scale(0);
    position: absolute;
    right: 4px;
    top: 4px;
    width: 22px;
    height: 22px;
    background: none;
    border: 1px solid var(--color-border);
    padding: 0 2px;
    border-radius: var(--px-radius);
    outline: none;
    transition: transform 0.25s;
    background-color: var(--color-element);
}

.history-copy:hover {
    background-color: var(--color-second);
}

.history-copy:active {
    background-color: var(--color-border);
}

.history-copy:focus {
    box-shadow: var(--shadow-focus);
}

.history-item:hover .history-copy, .history-copy:focus {
    transform: scale(1);
}

/*
 #####   ####  #    # #    # #       ####    ##   #####   ####
 #    # #    # #    # ##   # #      #    #  #  #  #    # #
 #    # #    # #    # # #  # #      #    # #    # #    #  ####
 #    # #    # # ## # #  # # #      #    # ###### #    #      #
 #    # #    # ##  ## #   ## #      #    # #    # #    # #    #
 #####   ####  #    # #    # ######  ####  #    # #####   ####
*/

#downloads-container {
    margin: -2px;
    text-align: left;
}

.download-item {
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 32px);
    position: relative;
    margin: 4px;
    width: 392px;
    border-radius: calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
    background-color: var(--color-element);
    text-align: left;
    color: var(--color-top);
    padding: 4px;
}

.download-buttons {
    margin-top: 8px;
}

.download-label {
    margin-left: 4px;
    display: inline-block;
    opacity: var(--opacity-over);
}

.download-status, .download-name, .download-url, .download-path {
    left: 64px;
    right: 4px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

/*
 #    # ###### #    # #    #    #####  ##### #    #
 ##  ## #      ##   # #    #    #    #   #   ##   #
 # ## # #####  # #  # #    #    #####    #   # #  #
 #    # #      #  # # #    #    #    #   #   #  # #
 #    # #      #   ## #    #    #    #   #   #   ##
 #    # ###### #    #  ####     #####    #   #    #
*/

#settings-btn {
    position: fixed;
    left: 4px;
    bottom: 4px;
    background-color: transparent;
    border-color: transparent;
}

#settings-btn:hover {
    background-color: var(--color-second);
}

#settings-btn:focus, #settings-btn:hover {
    border-color: var(--color-border);
}

/*
 ##### #    # ######    ###### #    # #####
   #   #    # #         #      ##   # #    #
   #   ###### #####     #####  # #  # #    #
   #   #    # #         #      #  # # #    #
   #   #    # #         #      #   ## #    #
   #   #    # ######    ###### #    # #####
*/