/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
  
:root{
    --color-red: rgb(255, 63, 52);
    --color-green: rgb(11, 232, 129);
    --color-blue: rgb(15, 188, 249);
    --color-orange: rgb(255, 168, 1);
  
    --px-radius: 0;
    --px-font: 14px;
  
    --opacity-over: 0;
  
    --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);
  
    --color-back: transparent;
    --color-element: transparent;
    --color-border: transparent;
    --color-second: transparent;
    --color-top: transparent;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      box-sizing: border-box;
    -webkit-user-drag: none;
  
    font-family: OpenSans;
    font-size: var(--px-font);
}
  
/*
 #####   ####  #####  #   #
 #    # #    # #    #  # #
 #####  #    # #    #   #
 #    # #    # #    #   #
 #    # #    # #    #   #
 #####   ####  #####    #
*/

body {
    border-top: 1px solid var(--color-border);
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--color-back);
}

/*
  ####  # #####  ###### #####    ##   #####
 #      # #    # #      #    #  #  #  #    #
  ####  # #    # #####  #####  #    # #    #
      # # #    # #      #    # ###### #####
 #    # # #    # #      #    # #    # #   #
  ####  # #####  ###### #####  #    # #    #
*/

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    border-right: 1px solid var(--color-border);
    padding: 2px;
}

.sidebar button {
    display: inline-block;
    width: calc(100% - 4px);
    text-align: left;
}

/*
  ####   ####  #    # #####   ##   # #    # ###### #####   ####
 #    # #    # ##   #   #    #  #  # ##   # #      #    # #
 #      #    # # #  #   #   #    # # # #  # #####  #    #  ####
 #      #    # #  # #   #   ###### # #  # # #      #####       #
 #    # #    # #   ##   #   #    # # #   ## #      #   #  #    #
  ####   ####  #    #   #   #    # # #    # ###### #    #  ####
*/

.container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    animation: append-center;
    animation-duration: 0.25s;
    display: none;
    padding: 32px;
    overflow-y: auto;
}

.container.active {
    display: block;
}

.container .title {
    color: var(--color-top);
    font-size: 24px;
    margin-bottom: 16px;
}

/*                        
  ##### #    # ###### #    # ######  ####  
    #   #    # #      ##  ## #      #      
    #   ###### #####  # ## # #####   ####  
    #   #    # #      #    # #           # 
    #   #    # #      #    # #      #    # 
    #   #    # ###### #    # ######  ####  
*/

.theme {
    display: inline-block;
    width: 100%;
    background-color: var(--color-element);
    padding: 2px;
    margin: 2px;
    border-radius: calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
    text-align: left;
}
  
.theme button {
    width: 30%;
    vertical-align: top;
    margin: 6px;
    margin-left: 0;
    height: 39px;
}
  
.theme div {
    margin: 6px;
    padding: 4px;
    display: inline-block;
    width: calc(70% - 22px);
    height: 39px;
}
  
.theme div label, .theme div span {
    display: inline-block;
    vertical-align: top;
    padding: 4px 8px;
}
  
.theme div span {
    height: 100%;
}

.theme div img {
    opacity: var(--opacity-over);
    vertical-align: top;
    padding: 7px;
}

/*
 ##### #    # ######    ###### #    # #####
   #   #    # #         #      ##   # #    #
   #   ###### #####     #####  # #  # #    #
   #   #    # #         #      #  # # #    #
   #   #    # #         #      #   ## #    #
   #   #    # ######    ###### #    # #####
*/