/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(0, 0, 0);
  --color-over: rgba(0, 0, 0, 0.1);
  --color-top: rgb(255, 255, 255);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 4px;
  --px-font: 14px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

::-webkit-scrollbar {
  width: 14px;
  background-color: var(--color-over);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-over);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: var(--color-top);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-slide {
  from {
    opacity: 0;
    transform: translateX(64px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

body {
  margin: 0;
  padding: 2px;
  animation-name: anim-slide;
  animation-duration: 0.25s;
  overflow-x: hidden;
}

label {
  color: var(--color-top);
}

label.subtitle {
  font-size: 24px;
}

label.title {
  font-size: 48px;
}

label.link {
  color: var(--color-top);
  display: inline-block;
  margin: 2px;
  padding: 2px 8px;
  border-radius: var(--px-radius);
}

label.link:hover {
  background-color: var(--color-over);
}

/*
.########..##........#######...######..##....##
.##.....##.##.......##.....##.##....##.##...##.
.##.....##.##.......##.....##.##.......##..##..
.########..##.......##.....##.##.......#####...
.##.....##.##.......##.....##.##.......##..##..
.##.....##.##.......##.....##.##....##.##...##.
.########..########..#######...######..##....##
*/

hr {
  border: 1px solid var(--color-over);
  margin: 4px 8px;
}

.container {
  background-color: var(--color-over);
  border-radius: var(--px-radius);
  padding: 2px;
  margin: 2px;
}

.block-title {
  margin-top: 32px;
}

.block-title label {
  vertical-align: super;
}

/*
.####.##....##.########..##.....##.########
..##..###...##.##.....##.##.....##....##...
..##..####..##.##.....##.##.....##....##...
..##..##.##.##.########..##.....##....##...
..##..##..####.##........##.....##....##...
..##..##...###.##........##.....##....##...
.####.##....##.##.........#######.....##...
*/

input[type=text] {
  outline: none;
  border: none;
  color: var(--color-top);
  font-size: var(--px-font);
  height: 32px;
  padding: 8px;
  border-radius: var(--px-radius);
  background-color: transparent;
  text-align: center;
  width: calc(100% - 4px);
  margin: 2px;
}

input[type=text]:hover, input[type=text]:focus {
  background-color: var(--color-over);
}

/*
.##....##....###....##.....##....########..########.##....##
.###...##...##.##...##.....##....##.....##....##....###...##
.####..##..##...##..##.....##....##.....##....##....####..##
.##.##.##.##.....##.##.....##....########.....##....##.##.##
.##..####.#########..##...##.....##.....##....##....##..####
.##...###.##.....##...##.##......##.....##....##....##...###
.##....##.##.....##....###.......########.....##....##....##
*/

.nav-btn img {
  margin-bottom: -7px;
}

.nav-btn {
  height: 32px;
  border-radius: var(--px-radius);
  padding: 4px;
  padding-right: 8px;
  display: inline-block;
  margin: 2px;
}

.nav-btn:hover {
  background-color: var(--color-over);
}

/*
.##.....##..#######..########..########....########..########.##....##
.###...###.##.....##.##.....##.##..........##.....##....##....###...##
.####.####.##.....##.##.....##.##..........##.....##....##....####..##
.##.###.##.##.....##.########..######......########.....##....##.##.##
.##.....##.##.....##.##...##...##..........##.....##....##....##..####
.##.....##.##.....##.##....##..##..........##.....##....##....##...###
.##.....##..#######..##.....##.########....########.....##....##....##
*/

.more-btn {
  padding: 4px;
  border-radius: var(--px-radius);
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}

.more-btn:hover, .more-btn.active {
  background-color: var(--color-over);
}

.more-label {
  margin: 2px;
  display: none;
  padding: 4px;
  background-color: var(--color-over);
  border-radius: var(--px-radius);
}

.more-label.active {
  display: block;
}

/*
..######...#######..##........#######..########.
.##....##.##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.########.
.##.......##.....##.##.......##.....##.##...##..
.##....##.##.....##.##.......##.....##.##....##.
..######...#######..########..#######..##.....##
*/

.color {
  padding: 2px 8px;
  display: inline-block;
  border-radius: var(--px-radius);
  color: var(--color-top);
  margin: 2px;
}

.color div {
  width: 32px;
  height: 32px;
  border: 2px solid var(--color-top);
  border-radius: var(--px-radius);
  margin: 4px;
}

.color:hover {
  background-color: var(--color-over);
}

/*
..######..##.....##.########..######..##....##.########...#######..##.....##
.##....##.##.....##.##.......##....##.##...##..##.....##.##.....##..##...##.
.##.......##.....##.##.......##.......##..##...##.....##.##.....##...##.##..
.##.......#########.######...##.......#####....########..##.....##....###...
.##.......##.....##.##.......##.......##..##...##.....##.##.....##...##.##..
.##....##.##.....##.##.......##....##.##...##..##.....##.##.....##..##...##.
..######..##.....##.########..######..##....##.########...#######..##.....##
*/

.nav-checkbox {
  display: inline-block;
  padding: 3px;
  padding-left: 8px;
  border-radius: var(--px-radius);
  margin: 2px;
  height: 32px;
}

.nav-checkbox:hover {
  background-color: var(--color-over);
}

.nav-checkbox img {
  vertical-align: middle;
  margin-top: -2px;
}

.checkbox {
   -webkit-appearance: none;
   appearance: none;
   outline: none;
   border-radius: var(--px-radius);
   width: 20px;
   height: 20px;
   padding-left: 4px;
   /* transition: 0.25s; */
   margin-bottom: 3px;
}

.checkbox:checked {
  background-color: var(--color-over);
}

.checkbox::after {
  width: 24px;
  height: 24px;
  content: "✘";
  font-weight: bold;
  color: var(--color-top);
}

.checkbox:checked::after {
  content: "✔";
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/
