/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: SegMDL2;
  src: url(../fonts/SegMDL2.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(255, 255, 255);
  --color-over: rgba(0, 0, 0, 0.05);
  --color-top: rgb(0, 0, 0);
  --color-shadow: rgba(0, 0, 0, 0.5);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 4px;
  --px-font: 14px;
  --px-shadow: 8px;

  --opacity-blur: 0.2;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

::-webkit-scrollbar {
  width: 14px;
  background-color: var(--color-over);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-over);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: var(--color-top);
}

/*
.##....##....###....##.....##....########..########.##....##
.###...##...##.##...##.....##....##.....##....##....###...##
.####..##..##...##..##.....##....##.....##....##....####..##
.##.##.##.##.....##.##.....##....########.....##....##.##.##
.##..####.#########..##...##.....##.....##....##....##..####
.##...###.##.....##...##.##......##.....##....##....##...###
.##....##.##.....##....###.......########.....##....##....##
*/

.nav-btn img {
  margin-bottom: -7px;
}

.nav-btn {
  height: 32px;
  border-radius: var(--px-radius);
  padding: 4px;
  padding-right: 8px;
  /* transition: 0.25s; */
  display: inline-block;
  margin: 2px;
}

.nav-btn:hover {
  background-color: var(--color-over);
}

.nav-btn.disable {
  opacity: var(--opacity-blur);
  background-color: transparent;
}

/*
.########.####.########.##.......########.########.....###....########.
....##.....##.....##....##.......##.......##.....##...##.##...##.....##
....##.....##.....##....##.......##.......##.....##..##...##..##.....##
....##.....##.....##....##.......######...########..##.....##.########.
....##.....##.....##....##.......##.......##.....##.#########.##...##..
....##.....##.....##....##.......##.......##.....##.##.....##.##....##.
....##....####....##....########.########.########..##.....##.##.....##
*/

#titlebar-icon {
  float: left;
  padding: 4px;
}

#titlebar-title {
  position: absolute;
  top: 10px;
  left: 40px;
}

#drag-zone {
  -webkit-app-region: drag;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  height: 36px;
  z-index: -100;
}

#titlebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  background-color: var(--color-over);
  padding: 4px;
}

#titlebar.blur {
  opacity: 0.5;
}

#window-controls {
  float: right;
}

#close-btn {
  background-color: var(--color-over);
  margin: -4px;
  margin-left: 0;
  padding: 8px;
  border-radius: 0;
  -webkit-app-region: no-drag;
}

#close-btn:hover {
  background-color: var(--color-red);
}

/* #titlebar.blur #window-controls .button {
  opacity: var(--opacity-blur);
} */

/* #window-controls.windows {
  display: grid;
  grid-template-columns: repeat(1, 46px);
  margin-top: -4px;
  margin-right: -4px;
}
#window-controls.windows .button {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#window-controls.windows .button span {
  font-family: SegMDL2;
  font-size: 10px;
  font-weight: normal;
  color: var(--color-top);
}
#window-controls.windows .button:hover {
  background: #E81123;
  opacity: 1;
}
#window-controls.windows #close-btn:hover span {
  color: white;
} */

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

label {
  color: var(--color-top);
}

label.subtitle {
  font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
}

label.link {
  color: var(--color-top);
  display: inline-block;
  margin: 2px;
  padding: 2px 8px;
  border-radius: var(--px-radius);
}

label.link:hover {
  background-color: var(--color-over);
}

/*
.####.##....##.########..##.....##.########
..##..###...##.##.....##.##.....##....##...
..##..####..##.##.....##.##.....##....##...
..##..##.##.##.########..##.....##....##...
..##..##..####.##........##.....##....##...
..##..##...###.##........##.....##....##...
.####.##....##.##.........#######.....##...
*/

input[type=text] {
  outline: none;
  border: none;
  color: var(--color-top);
  font-size: var(--px-font);
  height: 32px;
  padding: 8px;
  border-radius: var(--px-radius);
  background-color: transparent;
  text-align: center;
  width: 200px;
  margin: 2px;
}

input[type=text]:hover, input[type=text]:focus {
  background-color: var(--color-over);
}

/*
.########....###....########...######.
....##......##.##...##.....##.##....##
....##.....##...##..##.....##.##......
....##....##.....##.########...######.
....##....#########.##.....##.......##
....##....##.....##.##.....##.##....##
....##....##.....##.########...######.
*/

/* #menu {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 42px;
  border-top: 2px solid var(--color-over);
}

#menu .nav-btn {
  margin: 4px;
} */

#dots {
  position: absolute;
  bottom: 0;
  width: 256px;
  left: calc(50% - 128px);
  /* background-color: var(--color-over); */
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: var(--px-radius);
  display: inline-block;
  border: 2px solid transparent;
  background-color: var(--color-over);
  margin: 2px;
}

.dot.active, .dot:hover {
  background-color: transparent;
  border-color: var(--color-top);
}

.tab {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  bottom: 24px;
  display: none;
  animation-name: anim-show;
  animation-duration: 0.25s;
  padding: 4px;
}

.tab.active {
  display: block;
}

#next-btn, #prev-btn {
  background-color: var(--color-over);
  position: absolute;
  padding: 16px 4px;
  top: 50%;
  transition: padding 0.25s;
}

#prev-btn {
  left: 0;
  border-radius: 0 var(--px-radius) var(--px-radius) 0;
}

#next-btn {
  right: 0;
  border-radius: var(--px-radius) 0 0 var(--px-radius);
}

#next-btn:hover, #prev-btn:hover {
  padding: 16px;
}

#next-btn.disable, #prev-btn.disable {
  /* opacity: 0.5; */
  display: none;
}

/*
.########..##........#######...######..##....##
.##.....##.##.......##.....##.##....##.##...##.
.##.....##.##.......##.....##.##.......##..##..
.########..##.......##.....##.##.......#####...
.##.....##.##.......##.....##.##.......##..##..
.##.....##.##.......##.....##.##....##.##...##.
.########..########..#######...######..##....##
*/

hr {
  border: 1px solid var(--color-over);
  margin: 4px 8px;
}

.container {
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.block-container {
  background-color: var(--color-over);
  border-radius: var(--px-radius);
  padding: 2px;
}

.block-title {
  margin-top: 32px;
}

.block-title label {
  vertical-align: super;
}

.about-icon {
  border-radius: 50%;
  padding: 8px;
}

.about-icon:hover {
  background-color: var(--color-over);
}

#start-btn {
  transition: 0.25s;
  border-radius: var(--px-radius);
  background-color: var(--color-over);
  display: inline-block;
  padding: 6px 16px;
  margin: 2px;
}

#start-btn:hover {
  padding: 6px 40px;
}

/*
..######..##.....##.########..######..##....##.########...#######..##.....##
.##....##.##.....##.##.......##....##.##...##..##.....##.##.....##..##...##.
.##.......##.....##.##.......##.......##..##...##.....##.##.....##...##.##..
.##.......#########.######...##.......#####....########..##.....##....###...
.##.......##.....##.##.......##.......##..##...##.....##.##.....##...##.##..
.##....##.##.....##.##.......##....##.##...##..##.....##.##.....##..##...##.
..######..##.....##.########..######..##....##.########...#######..##.....##
*/

.nav-checkbox {
  display: inline-block;
  padding: 4px;
  padding-left: 8px;
  border-radius: var(--px-radius);
  margin: 2px;
}

.nav-checkbox:hover {
  background-color: var(--color-over);
}

.checkbox {
   -webkit-appearance: none;
   appearance: none;
   outline: none;
   border-radius: var(--px-radius);
   width: 20px;
   height: 20px;
   padding-left: 4px;
   margin-bottom: 3px;
}

.checkbox:checked {
  background-color: var(--color-over);
}

.checkbox::after {
  width: 24px;
  height: 24px;
  content: "✘";
  font-weight: bold;
  color: var(--color-top);
}

.checkbox:checked::after {
  content: "✔";
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/