/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: SegMDL2;
  src: url(../fonts/SegMDL2.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-red: rgb(12, 5, 5);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --px-radius: 0;
  --px-font: 14px;

  --opacity-over: 0;

  --shadow-focus: inset 0 0 0 rgba(0, 0, 0, 0);

  --color-back: transparent;
  --color-element: transparent;
  --color-border: transparent;
  --color-second: transparent;
  --color-top: transparent;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    box-sizing: border-box;
  -webkit-user-drag: none;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
....###....##....##.####.##.....##....###....########.####..#######..##....##..######.
...##.##...###...##..##..###...###...##.##......##.....##..##.....##.###...##.##....##
..##...##..####..##..##..####.####..##...##.....##.....##..##.....##.####..##.##......
.##.....##.##.##.##..##..##.###.##.##.....##....##.....##..##.....##.##.##.##..######.
.#########.##..####..##..##.....##.#########....##.....##..##.....##.##..####.......##
.##.....##.##...###..##..##.....##.##.....##....##.....##..##.....##.##...###.##....##
.##.....##.##....##.####.##.....##.##.....##....##....####..#######..##....##..######.
*/

@keyframes anim-show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes anim-prev {
  from {
    opacity: 0;
    transform: translateX(-16px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes anim-next {
  from {
    opacity: 0;
    transform: translateX(16px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*
.##......##.########.########..##....##.####.########
.##..##..##.##.......##.....##.##...##...##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.######...########..#####.....##.....##...
.##..##..##.##.......##.....##.##..##....##.....##...
.##..##..##.##.......##.....##.##...##...##.....##...
..###..###..########.########..##....##.####....##...
*/

::-webkit-scrollbar {
  width: 14px;
  background-color: var(--color-over);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-over);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: var(--color-top);
}

/*
.########.####.########.##.......########.########.....###....########.
....##.....##.....##....##.......##.......##.....##...##.##...##.....##
....##.....##.....##....##.......##.......##.....##..##...##..##.....##
....##.....##.....##....##.......######...########..##.....##.########.
....##.....##.....##....##.......##.......##.....##.#########.##...##..
....##.....##.....##....##.......##.......##.....##.##.....##.##....##.
....##....####....##....########.########.########..##.....##.##.....##
*/

#titlebar-icon {
  float: left;
  padding: 8px;
}

#titlebar-title {
  position: absolute;
  top: 6px;
  left: 30px;
}

#drag-zone {
  -webkit-app-region: drag;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: calc(100% - 32px);
  z-index: -100;
}

#titlebar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 32px;
  /* background-color: var(--color-over); */
}

/*
.##......##.####.##....##.....######...#######..##....##.########.########...#######..##........######.
.##..##..##..##..###...##....##....##.##.....##.###...##....##....##.....##.##.....##.##.......##....##
.##..##..##..##..####..##....##.......##.....##.####..##....##....##.....##.##.....##.##.......##......
.##..##..##..##..##.##.##....##.......##.....##.##.##.##....##....########..##.....##.##........######.
.##..##..##..##..##..####....##.......##.....##.##..####....##....##...##...##.....##.##.............##
.##..##..##..##..##...###....##....##.##.....##.##...###....##....##....##..##.....##.##.......##....##
..###..###..####.##....##.....######...#######..##....##....##....##.....##..#######..########..######.
*/

#titlebar #window-controls {
  -webkit-app-region: no-drag;
  display: grid;
  grid-template-columns: repeat(3, 46px);
  float: right;
  height: 100%;
}

#titlebar #window-controls.linux {
  grid-template-columns: repeat(1, 32px);
}

#titlebar #window-controls span {
  font-family: SegMDL2;
  font-size: 10px;
}

#window-controls .title-bar-btn {
  padding: 8px;
}

#titlebar #window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-top);
  transition: background-color 0.25s;
  grid-column: 3;
}

#titlebar #window-controls .title-bar-btn:hover, #titlebar #window-controls .button:hover {
  background-color: #E81022;
  color: white;
  opacity: 1 !important;
}

#titlebar.blur #window-controls .button, #titlebar.blur #window-controls .title-bar-btn {
  opacity: 0.5;
}

#titlebar #window-controls .button:active, #titlebar #window-controls .title-bar-btn:active {
  opacity: 0.5 !important;
}

/*
.########...#######..########..##....##
.##.....##.##.....##.##.....##..##..##.
.##.....##.##.....##.##.....##...####..
.########..##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########...#######..########.....##...
*/

label {
  color: var(--color-top);
}

label.subtitle {
  font-size: 24px;
  margin-bottom: 8px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-back);
}

body.no-titlebar .tab {
  top: 16px;
}

/* theme icon */
.theme-icon {
  opacity: 0;
}

/*
..######...#######..##........#######..########.
.##....##.##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.########.
.##.......##.....##.##.......##.....##.##...##..
.##....##.##.....##.##.......##.....##.##....##.
..######...#######..########..#######..##.....##
*/

.color {
  display: inline-block;
  width: calc(33% - 3px);
  margin: 2px 0;
  height: calc(100% - 4px);
  border-radius: var(--px-radius);
  padding: 8px;
}

.color:hover {
  background-color: var(--color-over);
}

.color:active {
  opacity: 0.5;
}

.color div {
  width: 64px;
  height: 64px;
  border-radius: var(--px-radius);
  border: 2px solid var(--color-over);
  display: inline-block;
}

.color label {
  display: block;
}

/*
.########....###....########...######.
....##......##.##...##.....##.##....##
....##.....##...##..##.....##.##......
....##....##.....##.########...######.
....##....#########.##.....##.......##
....##....##.....##.##.....##.##....##
....##....##.....##.########...######.
*/

#skip-btn {
  position: absolute;
  z-index: 100;
  bottom: 2px;
  animation: anim-show;
  animation-duration: 0.25s;
  left: 2px;
}

#skip-btn.disable {
  display: none;
}

#dots {
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 32px;
  z-index: 100;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: var(--px-radius);
  display: inline-block;
  background-color: var(--color-element);
  margin: 4px;
  padding: 0;
  transition: 0.25s;
  vertical-align: top;
  border: 1px solid var(--color-border);
  outline: none;
}

.dot:hover {
  background-color: var(--color-second);
}

.dot:focus {
  box-shadow: var(--shadow-focus);
}

.dot:active {
  background-color: var(--color-border);
}

.dot.active {
  width: 20px;
  height: 20px;
  margin: 0;
}

.tab {
  position: absolute;
  left: 0;
  right: 0;
  top: 42px;
  bottom: 0;
  display: none;
  animation-name: anim-show;
  animation-duration: 0.25s;
  padding: 4px;
}

.tab.active {
  display: block;
}

.tab .subtitle {
  display: block;
}

#next-btn, #prev-btn {
  background-color: var(--color-element);
  position: absolute;
  top: calc(50% - 16px);
  border: 1px solid var(--color-border);
  margin: 0;
  padding: 0;
  outline: none;
}

#next-btn img, #prev-btn img {
  padding: 16px 8px;
  transition: padding 0.25s;
  margin-bottom: -4px;
}

#prev-btn {
  left: -1px;
  border-radius: 0 var(--px-radius) var(--px-radius) 0;
  animation: anim-prev;
  animation-duration: 0.25s;
}

#next-btn {
  right: -1px;
  border-radius: var(--px-radius) 0 0 var(--px-radius);
  animation: anim-next;
  animation-duration: 0.25s;
}

#next-btn:hover, #prev-btn:hover {
  background-color: var(--color-second);
}

#next-btn:hover img, #prev-btn:hover img {
  padding: 16px;
}

#next-btn:focus, #prev-btn:focus {
  box-shadow: var(--shadow-focus);
}

#next-btn:active, #prev-btn:active {
  background-color: var(--color-border);
}

#next-btn.disable, #prev-btn.disable {
  display: none;
}

/*
  # #    # #####  #    # ##### 
  # ##   # #    # #    #   #   
  # # #  # #    # #    #   #   
  # #  # # #####  #    #   #   
  # #   ## #      #    #   #   
  # #    # #       ####    #   
*/

input[type=text] {
  width: calc(100% - 4px);
}

/*
 #####   ##   #####      ####   ####  #    # #####   ##   # #    # ###### #####
   #    #  #  #    #    #    # #    # ##   #   #    #  #  # ##   # #      #    #
   #   #    # #####     #      #    # # #  #   #   #    # # # #  # #####  #    #
   #   ###### #    #    #      #    # #  # #   #   ###### # #  # # #      #####
   #   #    # #    #    #    # #    # #   ##   #   #    # # #   ## #      #   #
   #   #    # #####      ####   ####  #    #   #   #    # # #    # ###### #    #
*/

.tab-container {
  background-color: var(--color-over);
  border-radius: calc(var(--px-radius) + 4px);
  margin: 8px 80px;
  height: 114px;
  width: calc(100% - 160px);
  padding: 2px;
  position: relative;
  border: 1px solid var(--color-border);
}

/*
 #    #   ##   #    #    #####  ##### #    #
 ##   #  #  #  #    #    #    #   #   ##   #
 # #  # #    # #    #    #####    #   # #  #
 #  # # ###### #    #    #    #   #   #  # #
 #   ## #    #  #  #     #    #   #   #   ##
 #    # #    #   ##      #####    #   #    #
*/

.nav-btn {
  width: calc(100% - 4px);
}

/*
....###....########..########.....####..######...#######..##....##
...##.##...##.....##.##.....##.....##..##....##.##.....##.###...##
..##...##..##.....##.##.....##.....##..##.......##.....##.####..##
.##.....##.########..########......##..##.......##.....##.##.##.##
.#########.##........##............##..##.......##.....##.##..####
.##.....##.##........##............##..##....##.##.....##.##...###
.##.....##.##........##...........####..######...#######..##....##
*/

.about-div {
  position: relative;
  display: inline-block;
}

.about-div button {
  background: none;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 8px;
  margin: 2px;
  outline: none;
}

.about-div button:hover {
  background-color: var(--color-second);
  border-color: var(--color-border);
}

.about-div button:active {
  background-color: var(--color-border);
}

.about-div button:focus {
  box-shadow: var(--shadow-focus);
}

.about-div .beta {
  position: absolute;
  right: 8px;
  bottom: 8px;
  filter: drop-shadow(0 0 4px black);
}

.about-div .icon {
  margin-bottom: -4px;
}

/*
..######..########....###....########..########....########..########.##....##
.##....##....##......##.##...##.....##....##.......##.....##....##....###...##
.##..........##.....##...##..##.....##....##.......##.....##....##....####..##
..######.....##....##.....##.########.....##.......########.....##....##.##.##
.......##....##....#########.##...##......##.......##.....##....##....##..####
.##....##....##....##.....##.##....##.....##.......##.....##....##....##...###
..######.....##....##.....##.##.....##....##.......########.....##....##....##
*/

#start-btn {
  padding: 16px;
  width: 75%;
  height: 68px;
  transition: width 0.25s;
}

#start-btn:hover {
  width: calc(100% - 4px);
}

/*
.########.##.....##.########.##.....##.########....########..########..########.##.....##.####.########.##......##
....##....##.....##.##.......###...###.##..........##.....##.##.....##.##.......##.....##..##..##.......##..##..##
....##....##.....##.##.......####.####.##..........##.....##.##.....##.##.......##.....##..##..##.......##..##..##
....##....#########.######...##.###.##.######......########..########..######...##.....##..##..######...##..##..##
....##....##.....##.##.......##.....##.##..........##........##...##...##........##...##...##..##.......##..##..##
....##....##.....##.##.......##.....##.##..........##........##....##..##.........##.##....##..##.......##..##..##
....##....##.....##.########.##.....##.########....##........##.....##.########....###....####.########..###..###.
*/

.theme-preview {
  margin: 2px;
  padding: 4px;
  border-radius: var(--px-radius);
}

.theme-preview:hover {
  background-color: var(--color-over);
}

.theme-preview:active {
  opacity: 0.5;
}

.theme-preview img {
  margin-top: 2px;
  margin-bottom: -2px;
  border-radius: var(--px-radius);
  border: 2px solid var(--color-over);
}

.theme-preview label {
  display: block;
}

/*
.##....##....###....##.....##.....######..##.....##.########..######..##....##.########...#######..##.....##
.###...##...##.##...##.....##....##....##.##.....##.##.......##....##.##...##..##.....##.##.....##..##...##.
.####..##..##...##..##.....##....##.......##.....##.##.......##.......##..##...##.....##.##.....##...##.##..
.##.##.##.##.....##.##.....##....##.......#########.######...##.......#####....########..##.....##....###...
.##..####.#########..##...##.....##.......##.....##.##.......##.......##..##...##.....##.##.....##...##.##..
.##...###.##.....##...##.##......##....##.##.....##.##.......##....##.##...##..##.....##.##.....##..##...##.
.##....##.##.....##....###........######..##.....##.########..######..##....##.########...#######..##.....##
*/

.nav-checkbox {
  display: inline-block;
  width: calc(100% - 4px);
  margin: 2px;
  height: 32px;
}

.nav-checkbox img, .nav-checkbox label, .nav-checkbox {
  vertical-align: middle;
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/