hr {
  border: 0.5px solid var(--color-border);
  margin: 2px 10px;
}

.container, .invis-container {
  padding: 2px;
  text-align: center;
}

.container {
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-back);
}

.block-title {
  margin-top: 48px;
  text-align: center;
  padding: 8px;
}

.block-title label {
  margin-left: 4px;
}

.block-title img, .block-title label {
  vertical-align: middle;
}

label.sidebar-title {
  font-size: 24px;
  display: inline-block;
  margin: 8px 16px;
}

.title-buttons {
  float: right;
  margin: 8px;
  margin-left: 4px;
}