.notif-panel {
    position: absolute;
    left: 128px;
    top: 0;
    right: 128px;
    z-index: 999;
    text-align: center;
}

.notif {
    transition: 0.25s;
    border-radius: 0 0 calc(var(--px-radius) + 4px) calc(var(--px-radius) + 4px);
    border: 1px solid var(--color-border);
    border-top: none;
    animation-name: slide-down;
    animation-duration: 0.25s;
    background-color: var(--color-element);
    position: absolute;
    top: 0;
    left: 128px;
    right: 128px;
    height: 29px;
    -webkit-app-region: no-drag;
    box-shadow: var(--shadow-focus);
}

.notif.closed {
    transform: translateY(-40px);
    opacity: 0;
}

.notif-container {
    border-radius: 0 0 calc(var(--px-radius) + 2px) calc(var(--px-radius) + 2px);
    height: 28px;
}

.notif-text {
    color: var(--color-top);
    position: absolute;
    right: 28px;
    top: 5px;
    left: 28px;
    overflow: hidden;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
}

.notif-icon {
    position: absolute;
    left: 6px;
    top: 6px;
}

.notif-body {
	margin: 0 24px;
    padding: 4px;
}

.notif-close {
	border-radius: var(--px-radius);
	width: 20px;
	height: 20px;
    position: absolute;
    right: 5px;
    top: 4px;
    display: none;
    animation: anim-show;
    animation-duration: 0.25s;
    background-color: var(--color-element);
    border: 1px solid var(--color-border);
    outline: none;
    padding: 0 2px;
}

.notif:hover .notif-close {
    display: block;
}

.notif-close:hover {
	background-color: var(--color-second);
}

.notif-close:active {
	background-color: var(--color-border);
}

.notif-close:focus {
	box-shadow: var(--shadow-focus);
}
