/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

* {
    font-family: OpenSans;
    font-size: 14px;
    color: white;
}

body {
    background-color: rgb(36, 40, 42);
    padding: 0;
    margin: 0;
}

/*
.##.....##....###....####.##....##
.###...###...##.##....##..###...##
.####.####..##...##...##..####..##
.##.###.##.##.....##..##..##.##.##
.##.....##.#########..##..##..####
.##.....##.##.....##..##..##...###
.##.....##.##.....##.####.##....##
*/

.main {
    padding: 64px 18px;
    max-width: 1280px;
    margin: 0 auto;
}

.main-title {
    font-size: 28px;
    display: block;
}

/*
.########.####.########.##.......########
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##.....##.....##....##.......######..
....##.....##.....##....##.......##......
....##.....##.....##....##.......##......
....##....####....##....########.########
*/

.main .title img {
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

.main .title label {
    padding: 16px;
    font-size: 64px;
    vertical-align: middle;
}

.main .title span {
    margin-top: 16px;
    display: block;
    font-size: 24px;
}

/*
.########..########..######...######.
.##.....##.##.......##....##.##....##
.##.....##.##.......##.......##......
.##.....##.######....######..##......
.##.....##.##.............##.##......
.##.....##.##.......##....##.##....##
.########..########..######...######.
*/

.main .description {
    font-size: 16px;
    display: block;
    margin: 48px 0;
    opacity: 0.5;
}

/*
.##.......####.##....##.##....##..######.
.##........##..###...##.##...##..##....##
.##........##..####..##.##..##...##......
.##........##..##.##.##.#####.....######.
.##........##..##..####.##..##.........##
.##........##..##...###.##...##..##....##
.########.####.##....##.##....##..######.
*/

.main .links .button {
    display: inline-block;
    text-decoration: none;
}

.main .links a {
    padding: 12px 24px;
    margin: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    transition: 0.25s;
    height: 24px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    outline: none;
}

.main .links a.blue {
    background-color: rgb(19, 175, 245);
    border-color: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main .links a:hover, .main .links a:focus {
    transform: translateY(-4px);
    border-color: white;
}

.main .links a img, .main .links a span {
    vertical-align: middle;
}

.main .links .button label {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}

/*
..######...######..########..########.########.##....##..######.
.##....##.##....##.##.....##.##.......##.......###...##.##....##
.##.......##.......##.....##.##.......##.......####..##.##......
..######..##.......########..######...######...##.##.##..######.
.......##.##.......##...##...##.......##.......##..####.......##
.##....##.##....##.##....##..##.......##.......##...###.##....##
..######...######..##.....##.########.########.##....##..######.
*/

.main .screenshots {
    margin: 48px 0;
    margin-bottom: 96px;
}

.main .screenshots .slick-list {
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.main .screenshots .slick-dots {
    bottom: -50px;
}

.main .screenshots li {
    width: 20px;
    height: 20px;
    padding: 10px 0 0 10px;
}

.main .screenshots li button {
    transition: 0.25s;
    opacity: 0.5;
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.main .screenshots li button::before {
    display: none;
}

.main .screenshots li:hover button {
    opacity: 1;
}

.main .screenshots li.slick-active button {
    opacity: 1;
    transform: scale(2);
}

/*
.########.########....###....########.##.....##.########..########..######.
.##.......##.........##.##......##....##.....##.##.....##.##.......##....##
.##.......##........##...##.....##....##.....##.##.....##.##.......##......
.######...######...##.....##....##....##.....##.########..######....######.
.##.......##.......#########....##....##.....##.##...##...##.............##
.##.......##.......##.....##....##....##.....##.##....##..##.......##....##
.##.......########.##.....##....##.....#######..##.....##.########..######.
*/

.main .features {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
}

.main .features .row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.main .features .row div {
    flex: 1;
    padding: 16px;
}

.main .features .row div label {
    display: block;
    font-size: 16px;
    padding: 4px;
}

.main .features .row div span {
    opacity: 0.5;
}

/*
.##.....##.########..########.....###....########.########..######.
.##.....##.##.....##.##.....##...##.##......##....##.......##....##
.##.....##.##.....##.##.....##..##...##.....##....##.......##......
.##.....##.########..##.....##.##.....##....##....######....######.
.##.....##.##........##.....##.#########....##....##.............##
.##.....##.##........##.....##.##.....##....##....##.......##....##
..#######..##........########..##.....##....##....########..######.
*/

.main .update {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    text-align: left;
    display: none;
    width: calc(50% - 18px);
    vertical-align: top;
    margin: 8px;
    margin-top: 48px;
    padding-top: 4px;
}

.main .update.show {
    display: inline-block;
}

.main .update label {
    display: block;
    padding: 4px;
}

.main .update .date {
    opacity: 0.5;
    float: right;
    padding: 8px;
}

.main .update button {
    display: block;
    outline: none;
    transition: 0.25s;
    background: none;
    border: none;
    border-radius: 4px;
    margin-top: 4px;
    text-align: left;
    padding: 4px;
    padding-right: 8px;
}

.main .update button span {
    font-size: 16px;
    vertical-align: middle;
}

.main .update button img {
    vertical-align: middle;
}

.main .update button:hover, .main .update button:focus, .main.update button:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.main .update .text {
    display: none;
}

.main .update.expand .text {
    display: inline-block;
}

.main .update a {
    transition: 0.25s;
    outline: none;
    float: right;
    margin-top: 2px;
}

.main .update a img {
    padding: 4px;
    margin-bottom: -4px;
    border-radius: 50%;
}

.main .update a:hover img, .main .update a:focus img {
    background-color: rgba(255, 255, 255, 0.1);
}

.main .updates .more {
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.25s;
    margin-top: 16px;
    padding: 12px 24px;
}

.main .updates .more:hover, .main .updates .more:active, .main .updates .more:focus {
    border-color: white;
    transform: translateY(-4px);
}

/*
.##.....##.########.########..####....###...
.###...###.##.......##.....##..##....##.##..
.####.####.##.......##.....##..##...##...##.
.##.###.##.######...##.....##..##..##.....##
.##.....##.##.......##.....##..##..#########
.##.....##.##.......##.....##..##..##.....##
.##.....##.########.########..####.##.....##
*/

@media only screen and (max-width: 700px) {
    .main .update {
        width: calc(100% - 16px);
    }

    .main .links .button {
        width: calc(50% - 2px);
    }

    .main .features .row {
        flex-direction: column;
    }

    .main .features img {
        float: left;
    }
}

@media only screen and (max-width: 420px) {
    .main .links a img {
        display: none;
    }

    .main {
        padding-left: 0;
        padding-right: 0;
    }

    .main .screenshots .slick-list {
        border-radius: 0;
    }

    .main .description {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main .features {
        text-align: left;
    }

    .main .features img {
        margin-right: 32px;
        margin-bottom: 16px;
    }
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/