/*
....###....##....##.####.##.....##
...##.##...###...##..##..###...###
..##...##..####..##..##..####.####
.##.....##.##.##.##..##..##.###.##
.#########.##..####..##..##.....##
.##.....##.##...###..##..##.....##
.##.....##.##....##.####.##.....##
*/

@keyframes anim-show {
    from {
        opacity: 0;
        transform: scale(0.75);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes anim-logo {
    from {
        transform: translateY(-64px);
    } to {
        transform: translateY(0px);
    }
}

/*
.##.....##.########....###....########..########.########.
.##.....##.##.........##.##...##.....##.##.......##.....##
.##.....##.##........##...##..##.....##.##.......##.....##
.#########.######...##.....##.##.....##.######...########.
.##.....##.##.......#########.##.....##.##.......##...##..
.##.....##.##.......##.....##.##.....##.##.......##....##.
.##.....##.########.##.....##.########..########.##.....##
*/

header {
    background-color: rgb(0, 0, 0, 0.2);
    text-align: center;
    user-select: none;
}

header .vr {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 16px;
    vertical-align: middle;
}

header .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

/*
.##........#######...######....#######.
.##.......##.....##.##....##..##.....##
.##.......##.....##.##........##.....##
.##.......##.....##.##...####.##.....##
.##.......##.....##.##....##..##.....##
.##.......##.....##.##....##..##.....##
.########..#######...######....#######.
*/

header .logo {
    padding: 18px;
    text-decoration: none;
    outline: none;
    transition: 0.25s;
}

header .logo img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    transition: 0.5s;
    animation: anim-logo;
    animation-duration: 0.5s;
}

header .logo span {
    vertical-align: middle;
    font-size: 20px;
    margin-left: 8px;
    transition: 0.25s;
}

header .logo:hover img, header .logo:focus img {
    transform: rotate(120deg);
}

header .logo:hover span, header .logo:focus span {
    opacity: 0.5;
}

header .logo:active {
    opacity: 0.5;
}

/*
.########..##.....##.########.########..#######..##....##..######.
.##.....##.##.....##....##.......##....##.....##.###...##.##....##
.##.....##.##.....##....##.......##....##.....##.####..##.##......
.########..##.....##....##.......##....##.....##.##.##.##..######.
.##.....##.##.....##....##.......##....##.....##.##..####.......##
.##.....##.##.....##....##.......##....##.....##.##...###.##....##
.########...#######.....##.......##.....#######..##....##..######.
*/

header .buttons {
    flex: 1;
    animation: anim-show;
    animation-duration: 0.25s;
}

header .button img {
    vertical-align: middle;
    margin-right: -8px;
}

header .button {
    border-radius: 4px;
    display: inline-block;
    padding: 14px 22px;
    margin: 10px 2px;
    transition: 0.25s;
    text-decoration: none;
    position: relative;
    outline: none;
}

header .button:hover, header .button:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

header a.button:active {
    opacity: 0.5;
}

header .button.show .menu {
    display: block;
}

/*
.##.....##.########.##....##.##.....##
.###...###.##.......###...##.##.....##
.####.####.##.......####..##.##.....##
.##.###.##.######...##.##.##.##.....##
.##.....##.##.......##..####.##.....##
.##.....##.##.......##...###.##.....##
.##.....##.########.##....##..#######.
*/

header .menu {
    animation: anim-show;
    animation-duration: 0.25s;
    display: none;
    width: 128px;
    left: 0;
    top: 50px;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 8px 0;
    z-index: 100;
}

header .menu a {
    color: black;
    padding: 8px;
    display: block;
    transition: 0.25s;
    opacity: 0.5;
    text-decoration: none;
}

header .menu a:hover, header .menu a:focus {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

header .menu a:active {
    opacity: 0.5;
}

header .menu::after {
    content: " ";
    position: absolute;
    bottom: 100%;  
    left: 32px;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/*
.##.......####.##....##.##....##..######.
.##........##..###...##.##...##..##....##
.##........##..####..##.##..##...##......
.##........##..##.##.##.#####.....######.
.##........##..##..####.##..##.........##
.##........##..##...###.##...##..##....##
.########.####.##....##.##....##..######.
*/

header .links {
    padding-right: 14px;
}

header .links a {
    transition: 0.25s;
    outline: none;
    margin: 10px 2px;
    display: inline-block;
}

header .links a img {
    padding: 12px;
    border-radius: 50%;
    transition: 0.25s;
}

header .links a:hover img, header .links a:focus img {
    background-color: rgba(255, 255, 255, 0.1);
}

header .links a:active {
    opacity: 0.5;
}

/*
.##.....##....###....##.....##.########..##.....##.########...######...########.########.
.##.....##...##.##...###...###.##.....##.##.....##.##.....##.##....##..##.......##.....##
.##.....##..##...##..####.####.##.....##.##.....##.##.....##.##........##.......##.....##
.#########.##.....##.##.###.##.########..##.....##.########..##...####.######...########.
.##.....##.#########.##.....##.##.....##.##.....##.##...##...##....##..##.......##...##..
.##.....##.##.....##.##.....##.##.....##.##.....##.##....##..##....##..##.......##....##.
.##.....##.##.....##.##.....##.########...#######..##.....##..######...########.##.....##
*/

.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    margin: 6px;
    background: none;
    border: none;
    display: none;
    border-radius: 50%;
    transition: 0.25s;
    outline: none;
}

.hamburger img {
    margin-bottom: -4px;
}

.hamburger:hover, .hamburger:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

/*
.##.....##.########.########..####....###...
.###...###.##.......##.....##..##....##.##..
.####.####.##.......##.....##..##...##...##.
.##.###.##.######...##.....##..##..##.....##
.##.....##.##.......##.....##..##..#########
.##.....##.##.......##.....##..##..##.....##
.##.....##.########.########..####.##.....##
*/

@media only screen and (max-width: 800px) {
    header .container {
        flex-direction: column;
        text-align: center;
    }

    header .links {
        display: none;
    }
}

@media only screen and (max-width: 420px) {
    header .logo img {
        float: left;
    }

    header .logo {
        margin-right: 40px;
    }

    header .buttons {
        display: none;
    }

    header .hamburger {
        display: block;
    }

    header.show .buttons, header.show .links {
        display: block;
    }
    
    header.show .button {
        display: block;
        margin: 0 8px;
    }
    
    header.show .vr {
        display: none;
    }

    header .menu {
        left: 0;
        width: auto;
        right: 0;
    }

    header .menu::after {
        left: 50%;
    }
}

/*
.########.##.....##.########....########.##....##.########.
....##....##.....##.##..........##.......###...##.##.....##
....##....##.....##.##..........##.......####..##.##.....##
....##....#########.######......######...##.##.##.##.....##
....##....##.....##.##..........##.......##..####.##.....##
....##....##.....##.##..........##.......##...###.##.....##
....##....##.....##.########....########.##....##.########.
*/