/*
.########...#######...#######..########
.##.....##.##.....##.##.....##....##...
.##.....##.##.....##.##.....##....##...
.########..##.....##.##.....##....##...
.##...##...##.....##.##.....##....##...
.##....##..##.....##.##.....##....##...
.##.....##..#######...#######.....##...
*/

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
}

:root{
  --color-back: rgb(255, 255, 255);
  --color-over: rgba(0, 0, 0, 0.1);
  --color-top: rgb(0, 0, 0);

  --color-red: rgb(255, 63, 52);
  --color-green: rgb(11, 232, 129);
  --color-blue: rgb(15, 188, 249);
  --color-orange: rgb(255, 168, 1);

  --color-shadow: rgba(0, 0, 0, 0.5);

  --px-radius: 4px;
  --px-font: 14px;
  --px-shadow: 8px;

  --opacity-blur: 0.5;
}

* {
	box-sizing: border-box;

  font-family: OpenSans;
  font-size: var(--px-font);
}

/*
.##.....##....###....####.##....##
.###...###...##.##....##..###...##
.####.####..##...##...##..####..##
.##.###.##.##.....##..##..##.##.##
.##.....##.#########..##..##..####
.##.....##.##.....##..##..##...###
.##.....##.##.....##.####.##....##
*/

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-back);
  /* min-width: 1280px; */
}

a {
  text-decoration: none;
}

label {
  padding: 8px;
}

.container {
  position: relative;
  min-height: calc(100vh - 280px);
  padding: 8px;
}

/*
.########....###....########..##.......########..######.
....##......##.##...##.....##.##.......##.......##....##
....##.....##...##..##.....##.##.......##.......##......
....##....##.....##.########..##.......######....######.
....##....#########.##.....##.##.......##.............##
....##....##.....##.##.....##.##.......##.......##....##
....##....##.....##.########..########.########..######.
*/

.platform-icon {
  float: left;
  margin-left: 4px;
  margin-top: 2px;
}

.platform-icon.disable {
  filter: blur(2px);
  opacity: var(--opacity-blur);
}

label.title {
  font-size: 28px;
}

label.subtitle {
  font-size: 20px;
}

hr {
  margin: 48px 0;
  border: solid 1px var(--color-over);
}

.screenshot {
  width: calc(50% - 4px);
  /* margin-bottom: 8px; */
  display: inline-block;
  
  /* box-shadow: 0 0 8px var(--color-shadow); */
  vertical-align: top;
}

.screenshot label {
  display: block;
  margin-top: 8px;
}

.screenshot img {
  width: 100%;
  border-radius: var(--px-radius);
  /* border: 2px solid var(--color-over); */
  box-shadow: 0 0 8px var(--color-shadow);
}

.main {
  width: 100%;
  max-width: 1200px;
  border: 2px solid var(--color-over);
  padding: 16px;
  border-radius: var(--px-radius);
  margin-bottom: 8px;
}

.main-img img {
  width: 100%;
  margin-bottom: -4px;
  border-radius: var(--px-radius);
  /* border: 2px solid var(--color-over); */
  box-shadow: 0 0 8px var(--color-shadow);
}

.main-desc {
  width: calc(40% - 4px);
  display: inline-block;
  border-left: var(--color-top) solid 2px;
}

.main-img {
  width: 60%;
  vertical-align: top;
  display: inline-block;
}

.main-name {
  display: block;
  text-align: left;
  /* background-color: var(--color-over); */
}

.main-name img {
  border-radius: 4px;
  float: left;
}

.main-desc label, .updates label {
  display: block;
  text-align: left;
}

.updates {
  display: inline-block;
  width: calc(50% - 4px);
  vertical-align: top;
  /* padding: 4px; */
  margin-bottom: 16px;
  /* border-radius: var(--px-radius); */
  border-left: var(--color-top) solid 2px;
}

.updates a {
  float: left;
  margin-left: 8px;
}

label.link {
  color: var(--color-blue);
  float: right;
}

label.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
.########.####.##.......########
....##.....##..##.......##......
....##.....##..##.......##......
....##.....##..##.......######..
....##.....##..##.......##......
....##.....##..##.......##......
....##....####.########.########
*/

.home {
  margin-top: 16px;
  display: inline-block;
  width: calc(50% - 4px);
}

.home label {
  display: block;
  vertical-align: bottom;
}

.home-link {
  padding: 2px;
  display: inline-block;
}

.home-icon {
  margin-top: -16px;
  border-radius: 4px;
  box-shadow: 0 0 8px var(--color-back-overdark);
  float: left;
}

.tile {
  width: calc(50% - 4px);
  /* background-color: var(--color-top); */
  /* border: 2px solid var(--color-over); */
  border-radius: var(--px-radius);
  /* border-left: 2px solid var(--color-top); */
  /* box-shadow: 0 0 8px var(--color-back-overdark); */
  padding: 8px;
  transition: 0.25s;
  display: inline-block;
  margin-bottom: 4px;
  vertical-align: top;
}

.tile.enabled {
  cursor: pointer;
}

.tile.enabled:hover {
  transform: translateY(8px);
  background-color: var(--color-over);
}

.header {
  padding-top: 32px;
}

.tile label {
  /* color: var(--color-back); */
  /* margin: 8px; */
  margin-top: -8px;
  float: left;
  color: var(--color-top);
}

.tile.enabled label {
  cursor: pointer;
}

.tile .icon {
  float: left;
  border-radius: var(--px-radius);
}

.tile .platform {
  margin: 0;
  margin-top: -8px;
  padding: 8px 8px 0 0;
  float: left;
}

.tile .preview {
  box-shadow: 0 0 var(--px-shadow) var(--color-shadow);
  /* margin: 12px; */
  margin-top: 8px;
  width: 100%;
  margin-bottom: -4px;
  border-radius: var(--px-radius);
}

.idea {
  border-radius: 0;
  border-left: 2px solid var(--color-top);
  margin-bottom: 16px;
}

/*
.##....##....###....##.....##.########.....###....########...........##....########..#######...#######..########.########.########.
.###...##...##.##...##.....##.##.....##...##.##...##.....##.........##.....##.......##.....##.##.....##....##....##.......##.....##
.####..##..##...##..##.....##.##.....##..##...##..##.....##........##......##.......##.....##.##.....##....##....##.......##.....##
.##.##.##.##.....##.##.....##.########..##.....##.########........##.......######...##.....##.##.....##....##....######...########.
.##..####.#########..##...##..##.....##.#########.##...##........##........##.......##.....##.##.....##....##....##.......##...##..
.##...###.##.....##...##.##...##.....##.##.....##.##....##......##.........##.......##.....##.##.....##....##....##.......##....##.
.##....##.##.....##....###....########..##.....##.##.....##....##..........##........#######...#######.....##....########.##.....##
*/

#navbar {
  position: relative;
  z-index: 100;
  width: 100%;
  /* background-color: var(--color-over); */
  border-bottom: 2px solid var(--color-over);
  margin-bottom: 32px;
  padding: 12px;
}

#navbar-links {
  height: inherit;
  float: right;
}

#navbar-menu-btn {
  display: none !important;
  float: right;
}

#navbar-menu-btn:hover {
  background-color: var(--color-over);
}

.navbar-btn, #navbar-menu-btn, .navbar-links-btn, .footer-btn {
  padding: 8px 16px;
  display: inline-block;
  transition: 0.25s;
  cursor: pointer;
  vertical-align: middle;
  color: var(--color-top);
  border-radius: var(--px-radius);
  padding-bottom: 4px;
  display: inline-block;
}

.navbar-logo {
  height: 64px;
  cursor: pointer;
  background-color: var(--color-top);
  display: inline-block;
  /* border-radius: 0 20px 20px 0; */
  /* margin: 8px 8px 8px 0; */
  vertical-align: middle;
  transition: 0.25s;
  /* background-image: linear-gradient(to right, rgb(38, 131, 226), rgb(75, 212, 227)); */
  background-color: var(--color-over);
  margin: -12px;
  margin-right: 16px;
}

.navbar-logo:hover {
  transform: translateX(-8px);
}

.navbar-logo img {
  padding: 16px 24px;
  height: 100%;
}

.navbar-btn:hover, .navbar-links-btn:hover, .footer-btn:hover {
  transform: translateY(8px);
  background-color: var(--color-over);
}

.navbar-btn-label {
  cursor: pointer;
  vertical-align: super;
  padding: 8px 4px;
}

.navbar-btn-expand {
  float: right;
  transition: 0.25s;
}

.navbar-btn:hover .navbar-btn-expand {
  transform: scaleY(-1);
}

.navbar-btn-tooltip {
  left: 0;
  display: none;
  position: absolute;
  background-color: var(--color-back);
  width: 250px;
  height: inherit;
  border-radius: var(--px-radius);
  top: 34px;
  box-shadow: 0 0 8px var(--color-back-overdark);
  padding: 8px;
  border: 2px solid var(--color-over);
}

.footer-btn .navbar-btn-tooltip {
  bottom: 72px;
  top: auto;
}

.footer-btn.right {
  float: right;
}

.navbar-btn:hover .navbar-btn-tooltip {
  display: block;
}

.navbar-btn-tooltip-item {
  display: block;
  transition: 0.25s;
  padding: 12px 16px 8px 16px;
  color: black;
}

.navbar-btn-tooltip-item:hover {
  transform: translateX(8px);
  cursor: pointer;
}

.navbar-btn-tooltip-item label {
  cursor: pointer;
  color: var(--second-color);
  vertical-align: super;
}

footer {
  position: relative;
  border-top: 2px solid var(--color-over);
  margin-top: 32px;
  padding: 12px;
}

#copyright {
  float: right;
  margin-top: 4px;
}

/*
.########..##.....##.########.########..#######..##....##
.##.....##.##.....##....##.......##....##.....##.###...##
.##.....##.##.....##....##.......##....##.....##.####..##
.########..##.....##....##.......##....##.....##.##.##.##
.##.....##.##.....##....##.......##....##.....##.##..####
.##.....##.##.....##....##.......##....##.....##.##...###
.########...#######.....##.......##.....#######..##....##
*/

.btn img {
  margin-bottom: -7px;
}

.btn {
  transition: 0.25s;
  display: inline-block;
  height: 32px;
  border-radius: var(--px-radius);
  padding: 4px 16px;
  color: var(--color-top);
}

.btn label {
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-over);
}

/*
.##.....##.########.########..####....###...
.###...###.##.......##.....##..##....##.##..
.####.####.##.......##.....##..##...##...##.
.##.###.##.######...##.....##..##..##.....##
.##.....##.##.......##.....##..##..#########
.##.....##.##.......##.....##..##..##.....##
.##.....##.########.########..####.##.....##
*/

@media only screen and (max-width: 860px) {
  .tile, .main-desc, .updates, .screenshot {
    width: 100%;
  }

  .main-img {
    width: 100%;
    margin-top: 16px;
  }

  .home {
    width: 100%;
  }

  label.link {
    display: block;
    float: none;
    margin: -8px;
    margin-top: 8px;
    text-align: center;
  }

  .navbar-logo {
    background-color: transparent;
  }

  .navbar-btn {
    display: none;
    margin-top: 8px;
  }

  #navbar.show .navbar-btn {
    display: block;
  }

  #navbar-menu-btn {
    display: inline-block !important;
  }

  #navbar-links {
    display: none;
    float: none;
    text-align: center;
    margin-top: 8px;
  }

  #navbar.show #navbar-links  {
    display: block;
  }
}
